// colors
$primary-color: #033691
$secondary-color: #dc1439
$normal-color: #333
$light-gray: lighten($normal-color, 50%)
$white-color: #fff
// $fb-color: #3B5998
$fb-color: #1877f2
$google-color: #DB4437
$twitter-color: #1da1f2
$linkedin-color: #0073b1
$instagram-color: pink
$youtube-color: #f00

// box-shadow
$box: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2)

.box-shadow
    box-shadow: $box !important
    border-radius: 0.5rem
//
//@font-face
//  font-family: "CenturyGothicRegular"
//  src: url("../fonts/CenturyGothicRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/CenturyGothicRegular.otf") format("opentype"), url("../fonts/CenturyGothicRegular.svg") format("svg"), url("../fonts/CenturyGothicRegular.ttf") format("truetype"), url("../fonts/CenturyGothicRegular.woff") format("woff"), url("../fonts/CenturyGothicRegular.woff2") format("woff2")
//  font-weight: normal
//  font-style: normal
//  font-display: swap
//
//@font-face
//  font-family: "CenturyGothicBold"
//  src: url("../fonts/CenturyGothicBold.eot?#iefix") format("embedded-opentype"), url("../fonts/CenturyGothicBold.otf") format("opentype"), url("../fonts/CenturyGothicBold.svg") format("svg"), url("../fonts/CenturyGothicBold.ttf") format("truetype"), url("../fonts/CenturyGothicBold.woff") format("woff"), url("../fonts/CenturyGothicBold.woff2") format("woff2")
//  font-weight: normal
//  font-style: normal
//  font-display: swap
//
//@font-face
//  font-family: "Square721BT-Roman"
//  src: url("../fonts/Squ721r.eot?#iefix") format("embedded-opentype"), url("../fonts/Squ721r.otf") format("opentype"), url("../fonts/Squ721r.svg") format("svg"), url("../fonts/Squ721r.ttf") format("truetype"), url("../fonts/Squ721r.woff") format("woff"), url("../fonts/Squ721r.woff2") format("woff2")
//  font-weight: normal
//  font-style: normal
//  font-display: swap
//
//@font-face
//  font-family: "Square721BT-Bold"
//  src: url("../fonts/sqr721b.eot?#iefix") format("embedded-opentype"), url("../fonts/sqr721b.otf") format("opentype"), url("../fonts/sqr721b.svg") format("svg"), url("../fonts/sqr721b.ttf") format("truetype"), url("../fonts/sqr721b.woff") format("woff"), url("../fonts/sqr721b.woff2") format("woff2")
//  font-weight: normal
//  font-style: normal
//  font-display: swap

$normal-font: "CenturyGothicRegular"
$normal-bold-font: "CenturyGothicBold"
$heading-font: "Square721BT-Roman"
$heading-bold-font: "Square721BT-Bold"

@font-face
  font-family: 'Material Icons'
  font-style: normal
  font-weight: 400
  src: url(https://fonts.gstatic.com/s/materialicons/v47/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2')

.material-icons
  font-family: 'Material Icons', serif
  font-weight: normal
  font-style: normal
  font-size: 24px
  line-height: 1
  letter-spacing: normal
  text-transform: none
  display: inline-block
  white-space: nowrap
  word-wrap: normal
  direction: ltr
  -webkit-font-feature-settings: 'liga'
  -webkit-font-smoothing: antialiased
