<template>
    <div>
        <MainHeader></MainHeader>
        <MainSidebar></MainSidebar>
        <transition name="fade" mode="out-in">
            <router-view></router-view>
        </transition>
        <MainFooter></MainFooter>
        <MainSetting></MainSetting>
        <!--<uploader></uploader>-->
    </div>
</template>

<script>

    import MainHeader from './libs/MainHeader'
    import MainSidebar from './libs/MainSidebar'
    import MainFooter from './libs/MainFooter'
    import MainSetting from './libs/MainSetting'
    // import Uploader from './views/uploader'

    import {mapGetters} from 'vuex'
    import axios from 'axios';
    //    Vue.use(axios)
    export default {
        name: 'App',
        components: {
            MainHeader, MainSidebar, MainFooter, MainSetting
        },
        computed: {
            ...mapGetters(['Receipts','companyDetails','userDetails'])
        },
        methods:{
            async fetchUser(){
                await this.$store.dispatch('getUserDetails')
                window.Echo.channel('document.1')
                    .listen('ProcessImageEvent', (e) => {
                        console.log('broadcasted '+e.document.id)
                        this.$store.commit('updateReceipt',e.document)
                    })
            }
        },
        created() {
            // this.$Progress.start()
            this.fetchUser();
            // this.$router.beforeEach((to, from, next) => {
            //     this.$Progress.start()
            //
            //     next()
            // })
            // this.$router.afterEach((to, from) => {
            //     this.$Progress.finish()
            // })
                },
        mounted() {
            // this.$Progress.finish()

        }


    }
</script>

<style>
    body {
        font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    }

    /* H1 - H6 font */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    }
</style>
