<template>
    <div>
    <router-view></router-view>
<!--    <vue-progress-bar></vue-progress-bar>-->

    </div>
</template>

<script>

    import axios from 'axios';
    import Landing from './views/Landing';
    //    Vue.use(axios)

    export default {
        name: 'MainLayout',
        components: {
            Landing
        },
        mounted() {
            console.log('mounted')
        }
    };
</script>

<style lang="sass">
    /*@import "../sass/style.sass"*/

    body
        font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif


        /* H1 - H6 font */

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        .h1,
        .h2,
        .h3,
        .h4,
        .h5,
        .h6
            font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif

</style>
