<template>
    <div id="review_container">
        <ReviewSidebar v-if="document" :document="document"></ReviewSidebar>
        <div class="content-wrapper" id="content-wrapper">
            <div>
                <DigitalImage v-if="document" :document="document"></DigitalImage>
            </div>
        </div>
    </div>
</template>
<script>
    import DigitalImage from './views/DigitalImage';
    import ReviewSidebar from './components/ReviewSidebar.vue'
    import ListItem from './components/ListItem.vue'
    import MainHeader from './libs/MainHeader'

    export default {
        name: 'ReviewDocument',
        data() {
            return {
                document_id: this.$route.params.id,
                document: '',
            }
        },

        components: {
            ReviewSidebar, MainHeader, ListItem, DigitalImage
        },
        async mounted() {
            $('#main-body').addClass('no-scroll')
            let response = await this.$store.dispatch('getDocument', {document_id: this.document_id});
            this.document = response.document
        }
    }
</script>
<style>
    #content-wrapper {
        margin-left: 400px;
        min-height: 440px;
        overflow: scroll;
        box-sizing: border-box;
        width: 71%;
        height: -webkit-fill-available;
    }

    #review_container {
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        margin-bottom: 20px
    }

    @font-face {
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
    }

    @font-face {
        font-family: Lato;
        font-style: italic;
        font-weight: 300;
    }

    @font-face {
        font-family: Lato;
        font-style: normal;
        font-weight: 400;
        src: local("Lato Regular"), local("Lato-Regular")
    }

    @font-face {
        font-family: Lato;
        font-style: italic;
        font-weight: 400;
        src: local("Lato Italic"), local("Lato-Italic")
    }

    @font-face {
        font-family: Lato;
        font-style: normal;
        font-weight: 700;
        src: local("Lato Bold"), local("Lato-Bold")
    }

    @font-face {
        font-family: Lato;
        font-style: italic;
        font-weight: 700;
        src: local("Lato Bold Italic"), local("Lato-BoldItalic")
    }

    @font-face {
        font-family: Lato;
        font-style: normal;
        font-weight: 900;
        src: local("Lato Black"), local("Lato-Black"),
    }

    @font-face {
        font-family: Lato;
        font-style: italic;
        font-weight: 900;
    }

    *, :after, :before {
        box-sizing: border-box
    }

    abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        background: transparent
    }

    body {
        margin: 0;
        padding: 0;
        font-family: Lato, sans-serif;
        font-size: 14px;
        line-height: 1.3;
        color: #3d3d3d
    }

    a {
        text-decoration: none
    }

    button {
        font-family: Lato, sans-serif
    }

    /*.app-skeleton {*/
    /*    background: #fff;*/
    /*    width: 100vw;*/
    /*    height: 100vh;*/
    /*    display: flex*/
    /*}*/

    /*.app-skeleton > .sidebar {*/
    /*    display: block;*/
    /*    list-style: none;*/
    /*    position: relative;*/
    /*    width: 260px;*/
    /*    height: 100%;*/
    /*    flex-shrink: 0;*/
    /*    background: #4b646f*/
    /*}*/

    /*.app-skeleton > .sidebar:before {*/
    /*    display: block;*/
    /*    content: "";*/
    /*    height: 60px;*/
    /*    background: #4b646f*/
    /*}*/

    .app-skeleton > .sidebar:after {
        display: block;
        content: "";
        position: absolute;
        top: 108px;
        right: -12px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0 2px 4px hsla(0, 0%, 42.7%, .25)
    }

    .app-skeleton > .sidebar li {
        position: relative;
        height: 40px;
        background: #526199;
        border-radius: 20px;
        margin-left: 10px;
        margin-right: 25px
    }

    .app-skeleton > .sidebar li:first-of-type {
        width: 120px;
        background: #fff;
        margin-top: 15px
    }

    .app-skeleton > .sidebar li + li {
        margin-top: 10px
    }

    .app-skeleton > .rhs {
        flex: 1 1
    }

    /*.app-skeleton > .rhs > .header {*/
    /*    display: flex;*/
    /*    flex-direction: row;*/
    /*    align-items: center;*/
    /*    justify-content: flex-end;*/
    /*    width: 100%;*/
    /*    height: 60px;*/
    /*    box-shadow: 0 1px 3px #e0e0e0*/
    /*}*/

    /*.app-skeleton > .rhs > .header > .user {*/
    /*    display: flex;*/
    /*    flex-direction: row;*/
    /*    align-items: center;*/
    /*    margin-right: 60px*/
    /*}*/

    /*.app-skeleton > .rhs > .header > .user:before {*/
    /*    display: block;*/
    /*    content: "";*/
    /*    width: 40px;*/
    /*    height: 40px;*/
    /*    background: #e6e6e6;*/
    /*    border-radius: 50%;*/
    /*    margin-right: 10px*/
    /*}*/

    /*.app-skeleton > .rhs > .header > .user > .details:after, .app-skeleton > .rhs > .header > .user > .details:before {*/
    /*    display: block;*/
    /*    content: "";*/
    /*    width: 60px;*/
    /*    height: 10px;*/
    /*    background: #e6e6e6;*/
    /*    border-radius: 5px;*/
    /*    margin: 5px 0*/
    /*}*/

    /*.app-skeleton > .rhs > .content {*/
    /*    display: block;*/
    /*    list-style: none;*/
    /*    padding: 40px*/
    /*}*/

    /*.app-skeleton > .rhs > .content li {*/
    /*    display: block;*/
    /*    width: 480px;*/
    /*    height: 14px;*/
    /*    background: #e6e6e6;*/
    /*    border-radius: 5px*/
    /*}*/

    /*.app-skeleton > .rhs > .content li:first-of-type {*/
    /*    width: 60px;*/
    /*    height: 10px*/
    /*}*/

    /*.app-skeleton > .rhs > .content li:last-of-type {*/
    /*    width: 340px*/
    /*}*/

    /*.app-skeleton > .rhs > .content li + li {*/
    /*    margin-top: 10px*/
    /*}*/

    .ellipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }

    .unstyled-btn {
        cursor: pointer;
        border: none;
        outline: none;
        padding: 0;
        margin: 0;
        background: transparent;
        -webkit-appearance: none;
        -moz-appearance: none
    }

    .unstyled-btn:disabled {
        pointer-events: none;
        cursor: not-allowed
    }

    .non-selectable {
        user-select: none
    }

    .rc-tooltip.rc-tooltip-zoom-enter, .rc-tooltip.rc-tooltip-zoom-leave {
        display: block
    }

    .rc-tooltip-zoom-appear, .rc-tooltip-zoom-enter {
        opacity: 0;
        animation-duration: .3s;
        animation-fill-mode: both;
        animation-timing-function: cubic-bezier(.18, .89, .32, 1.28);
        animation-play-state: paused
    }

    .rc-tooltip-zoom-leave {
        animation-duration: .3s;
        animation-fill-mode: both;
        animation-timing-function: cubic-bezier(.6, -.3, .74, .05);
        animation-play-state: paused
    }

    .rc-tooltip-zoom-appear.rc-tooltip-zoom-appear-active, .rc-tooltip-zoom-enter.rc-tooltip-zoom-enter-active {
        animation-name: rcToolTipZoomIn;
        animation-play-state: running
    }

    .rc-tooltip-zoom-leave.rc-tooltip-zoom-leave-active {
        animation-name: rcToolTipZoomOut;
        animation-play-state: running
    }

    @keyframes _1gKgZ {
        0% {
            opacity: 0;
            transform-origin: 50% 50%;
            transform: scale(0)
        }
        to {
            opacity: 1;
            transform-origin: 50% 50%;
            transform: scale(1)
        }
    }

    @keyframes _45UCX {
        0% {
            opacity: 1;
            transform-origin: 50% 50%;
            transform: scale(1)
        }
        to {
            opacity: 0;
            transform-origin: 50% 50%;
            transform: scale(0)
        }
    }

    .rc-tooltip {
        position: absolute;
        z-index: 1070;
        display: block;
        visibility: visible;
        font-size: 12px;
        line-height: 1.5;
        opacity: .9
    }

    .rc-tooltip-hidden {
        display: none
    }

    .rc-tooltip-placement-top, .rc-tooltip-placement-topLeft, .rc-tooltip-placement-topRight {
        padding: 5px 0 9px
    }

    .rc-tooltip-placement-right, .rc-tooltip-placement-rightBottom, .rc-tooltip-placement-rightTop {
        padding: 0 5px 0 9px
    }

    .rc-tooltip-placement-bottom, .rc-tooltip-placement-bottomLeft, .rc-tooltip-placement-bottomRight {
        padding: 9px 0 5px
    }

    .rc-tooltip-placement-left, .rc-tooltip-placement-leftBottom, .rc-tooltip-placement-leftTop {
        padding: 0 9px 0 5px
    }

    .rc-tooltip-inner {
        padding: 8px 10px;
        color: #fff;
        text-align: left;
        text-decoration: none;
        background-color: #373737;
        border-radius: 6px;
        box-shadow: 0 0 4px rgba(0, 0, 0, .17);
        min-height: 34px
    }

    .rc-tooltip-arrow {
        position: absolute;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid
    }

    .rc-tooltip-placement-top .rc-tooltip-arrow, .rc-tooltip-placement-topLeft .rc-tooltip-arrow, .rc-tooltip-placement-topRight .rc-tooltip-arrow {
        bottom: 4px;
        margin-left: -5px;
        border-width: 5px 5px 0;
        border-top-color: #373737
    }

    .rc-tooltip-placement-top .rc-tooltip-arrow {
        left: 50%
    }

    .rc-tooltip-placement-topLeft .rc-tooltip-arrow {
        left: 15%
    }

    .rc-tooltip-placement-topRight .rc-tooltip-arrow {
        right: 15%
    }

    .rc-tooltip-placement-right .rc-tooltip-arrow, .rc-tooltip-placement-rightBottom .rc-tooltip-arrow, .rc-tooltip-placement-rightTop .rc-tooltip-arrow {
        left: 4px;
        margin-top: -5px;
        border-width: 5px 5px 5px 0;
        border-right-color: #373737
    }

    .rc-tooltip-placement-right .rc-tooltip-arrow {
        top: 50%
    }

    .rc-tooltip-placement-rightTop .rc-tooltip-arrow {
        top: 15%;
        margin-top: 0
    }

    .rc-tooltip-placement-rightBottom .rc-tooltip-arrow {
        bottom: 15%
    }

    .rc-tooltip-placement-left .rc-tooltip-arrow, .rc-tooltip-placement-leftBottom .rc-tooltip-arrow, .rc-tooltip-placement-leftTop .rc-tooltip-arrow {
        right: 4px;
        margin-top: -5px;
        border-width: 5px 0 5px 5px;
        border-left-color: #373737
    }

    .rc-tooltip-placement-left .rc-tooltip-arrow {
        top: 50%
    }

    .rc-tooltip-placement-leftTop .rc-tooltip-arrow {
        top: 15%;
        margin-top: 0
    }

    .rc-tooltip-placement-leftBottom .rc-tooltip-arrow {
        bottom: 15%
    }

    .rc-tooltip-placement-bottom .rc-tooltip-arrow, .rc-tooltip-placement-bottomLeft .rc-tooltip-arrow, .rc-tooltip-placement-bottomRight .rc-tooltip-arrow {
        top: 4px;
        margin-left: -5px;
        border-width: 0 5px 5px;
        border-bottom-color: #373737
    }

    .rc-tooltip-placement-bottom .rc-tooltip-arrow {
        left: 50%
    }

    .rc-tooltip-placement-bottomLeft .rc-tooltip-arrow {
        left: 15%
    }

    .rc-tooltip-placement-bottomRight .rc-tooltip-arrow {
        right: 15%
    }

    ._28oUz {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2000;
        background: rgba(0, 0, 0, .6)
    }

    ._28oUz, ._28oUz ._3n58r {
        display: flex;
        align-items: center;
        justify-content: center
    }

    ._28oUz ._3n58r ._3Qdwr {
        width: 48px;
        height: 48px;
        color: #fff;
        animation: _22W9d 1.4s linear infinite;
        transform: translateZ(0)
    }

    @keyframes _22W9d {
        0% {
            transform: rotate(0deg)
        }
        to {
            transform: rotate(1turn)
        }
    }

    ._23AWM {
        width: 100%
    }

    ._2T0TF {
        stroke: #4d61fc;
        stroke-linecap: round;
        transition: stroke-dashoffset .5s ease 0s
    }

    ._1D4nT {
        stroke: #dfdfdf
    }

    ._3TOVr {
        fill: #4d61fc;
        font-size: 20px;
        dominant-baseline: middle;
        text-anchor: middle
    }

    ._3hJIa {
        fill: #dfdfdf
    }

    .s27RJ {
        animation: _3OuGx 1.4s linear infinite;
        transform: translateZ(0)
    }

    @keyframes _3OuGx {
        0% {
            transform: rotate(0deg)
        }
        to {
            transform: rotate(1turn)
        }
    }

    ._3rHwk {
        width: 24px;
        height: 24px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 1px
    }

    ._3rHwk ._22o6a {
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: #8f8f8f;
        background: currentColor;
        animation: _5akJS 1.4s ease-in-out infinite both
    }

    ._3rHwk ._22o6a:first-of-type {
        animation-delay: -.32s
    }

    ._3rHwk ._22o6a:nth-of-type(2n) {
        animation-delay: -.16s
    }

    @keyframes _5akJS {
        0%, 80%, to {
            transform: scale(0)
        }
        40% {
            transform: scale(1)
        }
    }

    ._2_HFO {
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        color: #e35b46
    }

    ._3dsLP {
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        color: #3d3d3d
    }

    ._8ISrC {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 50px;
        padding: 0 20px
    }

    ._8ISrC + ._8ISrC {
        border-top: 1px solid #e8eaed
    }

    ._8ISrC ._3Is8w {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        color: #8f8f8f;
        opacity: .5
    }

    ._8ISrC ._25L4d {
        flex: 1 1;
        min-width: 0;
        margin: 0 16px
    }

    ._8ISrC ._25L4d ._2tllZ {
        color: #8f8f8f
    }

    ._8ISrC ._25L4d ._3bVay, ._8ISrC ._25L4d .p5mxQ {
        margin-top: 1px
    }

    ._8ISrC ._25L4d ._3bVay {
        font-size: 12px;
        line-height: 14px;
        color: #8f8f8f
    }

    ._8ISrC .MdzCM {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        overflow: hidden
    }

    ._8ISrC .MdzCM > button, ._8ISrC .MdzCM > svg {
        width: 100%;
        height: 100%
    }

    ._8ISrC ._146Fr {
        color: #0c9d58
    }

    ._8ISrC ._1_AWf {
        color: #d0021b
    }

    ._8ISrC ._2mhPp, ._8ISrC .Or5_U {
        color: #8f8f8f
    }

    ._8ISrC ._2mhPp:hover, ._8ISrC .Or5_U:hover {
        color: #767676
    }

    ._8ISrC ._2mhPp {
        display: none
    }

    ._8ISrC.FZOog ._3Is8w {
        opacity: 1
    }

    ._8ISrC.FZOog ._25L4d ._2tllZ {
        color: #303030
    }

    ._8ISrC:hover ._2nVhC {
        display: none
    }

    ._8ISrC:hover ._2mhPp {
        display: block
    }

    ._2-e9i {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        border: none;
        outline: none;
        user-select: none;
        vertical-align: top;
        -webkit-appearance: none;
        -moz-appearance: none
    }

    ._2-e9i:disabled {
        pointer-events: none;
        cursor: not-allowed
    }

    ._2-e9i ._1mMMb {
        width: 24px;
        height: 24px;
        display: block
    }

    ._2-e9i ._1mMMb > svg {
        width: 100%;
        height: 100%
    }

    ._2-e9i ._1mMMb._2q6dE {
        animation: _2No2d 1.4s linear infinite;
        transform: translateZ(0)
    }

    @keyframes _2No2d {
        0% {
            transform: rotate(0deg)
        }
        to {
            transform: rotate(1turn)
        }
    }

    ._2-e9i.Cb_qF {
        height: 40px;
        border-radius: 20px;
        font-size: 14px;
        font-weight: 700;
        padding: 0 20px 0 15px
    }

    ._2-e9i.Cb_qF ._1mMMb.UAi8Q {
        margin-right: 10px
    }

    ._2-e9i.Cb_qF ._1mMMb.BLe5P {
        margin-left: 10px
    }

    ._2-e9i._3GERE {
        height: 50px;
        border-radius: 25px;
        font-size: 18px;
        font-weight: 700;
        padding: 0 25px 0 20px
    }

    ._2-e9i._3GERE ._1mMMb.UAi8Q {
        margin-right: 20px
    }

    ._2-e9i._3GERE ._1mMMb.BLe5P {
        margin-left: 20px
    }

    ._2-e9i._2inO5 {
        background: #4b646f;
        color: #fff
    }

    ._2-e9i._2inO5:hover {
        background: #5977ad;
    }

    ._2-e9i.FuRIy {
        background: transparent;
        color: #4b646f
    }

    ._2-e9i._5r5MB {
        background: #fff;
        color: #4b646f
    }

    ._2-e9i._5r5MB:hover {
        background: #f5f5f5
    }

    ._2-e9i._3sEyz, ._2-e9i._20Nzr {
        background: #fff;
        color: #3d3d3d;
        box-shadow: 0 2px 4px hsla(0, 0%, 42.7%, .5)
    }

    ._2-e9i._3sEyz:hover, ._2-e9i._20Nzr:hover {
        background: #f5f5f5
    }

    .iOlRZ {
        width: 450px;
        background: #fff;
        padding: 24px;
        border-radius: 5px;
        box-shadow: 0 1px 5px #8c8c8c
    }

    .iOlRZ ._2u8N7 {
        display: flex;
        flex-direction: row;
        align-items: center
    }

    .iOlRZ ._2u8N7 ._2oD7M {
        font-size: 18px;
        line-height: 24px;
        color: #444;
        flex: 1 1
    }

    .iOlRZ ._2u8N7 ._1NsDh {
        width: 24px;
        height: 24px;
        color: #444;
        margin-left: 20px
    }

    .iOlRZ ._2u8N7 ._1NsDh > svg {
        width: 100%;
        height: 100%
    }

    .iOlRZ .UFv-a {
        margin: 20px 0
    }

    .iOlRZ .xbfgz {
        display: flex;
        flex-direction: row;
        align-items: center
    }

    ._1suGE ._3xOuc {
        justify-content: flex-end
    }

    ._1suGE ._3xOuc button + button {
        margin-left: 20px
    }

    ._2ep15 {
        position: fixed;
        bottom: 10px;
        right: 10px;
        width: 365px;
        z-index: 1000;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 4px hsla(0, 0%, 42.7%, .5)
    }

    ._2ep15 .U_C7G {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 60px;
        padding: 0 20px;
        background: #4b646f;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px
    }

    ._2ep15 .U_C7G ._1oQS7 {
        flex: 1 1;
        font-size: 14px;
        font-weight: 400;
        color: #fff
    }

    ._2ep15 .U_C7G ._1Hxos {
        cursor: pointer;
        border: none;
        outline: none;
        padding: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 24px;
        height: 24px;
        position: relative;
        margin: 0 0 0 20px;
        color: #f5f5f5;
        background: transparent
    }

    ._2ep15 .U_C7G ._1Hxos:before {
        display: block;
        content: "";
        position: absolute;
        left: -8px;
        top: -8px;
        width: 40px;
        height: 40px;
        background: rgba(0, 0, 0, .1);
        border-radius: 50%;
        opacity: 0
    }

    ._2ep15 .U_C7G ._1Hxos > svg {
        width: 100%;
        height: 100%
    }

    ._2ep15 .U_C7G ._1Hxos:hover {
        cursor: pointer
    }

    ._2ep15 .U_C7G ._1Hxos:hover:before {
        opacity: 1
    }

    ._2ep15 ._3xaAx {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 30px;
        padding: 0 20px;
        background: #f5f5f5
    }

    ._2ep15 ._3xaAx ._2mkio {
        flex: 1 1;
        color: #303030
    }

    ._2ep15 ._3xaAx ._3doCA {
        display: block;
        color: #4d61fc;
        text-transform: uppercase
    }

    ._2ep15 ._3MSLu {
        max-height: 175px;
        overflow-y: scroll
    }

    ._2ep15._3rHWk .U_C7G {
        border-radius: 5px
    }

    ._2ep15._3rHWk .U_C7G ._2VhU6 {
        transform: rotate(180deg)
    }

    ._3mhA_ {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 270px;
        height: 50px;
        padding: 0 16px 0 20px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .5)
    }

    ._3mhA_ ._7StCG {
        flex: 1 1;
        margin-right: 16px
    }

    ._3mhA_ ._1Rxk4 {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        color: #8f8f8f
    }

    ._3mhA_ ._1Rxk4 > svg {
        width: 100%;
        height: 100%
    }

    ._3mhA_ ._1Rxk4:hover {
        color: #767676
    }

    ._17-jc {
        position: fixed;
        left: 20px;
        bottom: 20px;
        z-index: 3000
    }

    .nW3SS {
        width: 550px
    }

    .nW3SS .mKt8Z {
        justify-content: flex-end
    }

    .nW3SS .mKt8Z button + button {
        margin-left: 20px
    }

    ._7becC {
        position: relative;
        background: #f7f8ff;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 4px hsla(0, 0%, 42.7%, .5);
        overflow: hidden
    }

    ._7becC img {
        display: block;
        width: 100%;
        height: 100%;
        background: #fff
    }

    ._7becC ._35XDc {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0
    }

    ._7becC ._35XDc, ._7becC ._181QA {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute
    }

    ._7becC ._181QA {
        width: 40px;
        height: 40px;
        top: 20px;
        right: 20px;
        color: #fff;
        background: #4b646f;
        border-radius: 50%;
        box-shadow: 0 2px 4px hsla(0, 0%, 49.8%, .5)
    }

    ._7becC ._181QA > svg {
        width: 24px;
        height: 24px
    }

    ._7becC ._181QA:focus, ._7becC ._181QA:hover {
        background: #526199
    }

    ._3COpQ {
        width: 560px;
        height: 439px;
        position: relative;
        box-shadow: 0 2px 4px hsla(0, 0%, 42.7%, .5)
    }

    ._3COpQ ._1itN9 {
        position: relative;
        background: #fff
    }

    ._3COpQ ._1itN9 ._1kwbN {
        width: 560px;
        height: 315px;
        box-shadow: 0 2px 4px hsla(0, 0%, 42.7%, .1)
    }

    ._3COpQ ._1itN9 ._1kwbN .dDfV8 {
        width: 100%;
        height: 100%;
        background: #000
    }

    ._3COpQ ._1itN9 ._1kwbN ._9tGVR {
        width: 100%;
        height: 100%;
        background: #fff;
        background-size: contain;
        background-position: 50%;
        background-repeat: no-repeat
    }

    ._3COpQ ._1itN9 ._1u8aE {
        padding: 20px
    }

    ._3COpQ ._1itN9 ._1u8aE ._2Luv1 {
        font-size: 22px;
        font-weight: 400;
        line-height: 22px;
        color: #3d3d3d
    }

    ._3COpQ ._1itN9 ._1u8aE ._1b6Tj {
        font-size: 16px;
        margin-top: 20px
    }

    ._3COpQ ._3y3iW {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -50px;
        right: -50px
    }

    ._3COpQ ._3y3iW > button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        cursor: pointer;
        border: none;
        outline: none;
        padding: 0;
        margin: 0;
        background: hsla(0, 0%, 100%, .9);
        border-radius: 50%;
        box-shadow: 0 2px 4px hsla(0, 0%, 49.8%, .5);
        -webkit-appearance: none;
        -moz-appearance: none
    }

    ._3COpQ ._3y3iW > button > svg {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        z-index: 1;
        color: #4b646f
    }

    ._3COpQ ._3y3iW > button:focus, ._3COpQ ._3y3iW > button:hover {
        background: #fff
    }

    ._3COpQ ._3y3iW > button:disabled {
        pointer-events: none;
        cursor: not-allowed;
        opacity: .45
    }

    ._3COpQ ._2F-A3 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;
        width: 100%;
        position: absolute;
        bottom: -36px
    }

    ._3COpQ ._2F-A3 > li {
        display: block
    }

    ._3COpQ ._2F-A3 > li > button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        cursor: pointer;
        border: none;
        outline: none;
        padding: 0;
        margin: 0;
        background: transparent;
        -webkit-appearance: none;
        -moz-appearance: none
    }

    ._3COpQ ._2F-A3 > li > button:before {
        display: block;
        content: " ";
        width: 12px;
        height: 12px;
        background: hsla(0, 0%, 100%, .25);
        border-radius: 50%
    }

    ._3COpQ ._2F-A3 > li > button:hover:before {
        background: hsla(0, 0%, 100%, .35)
    }

    ._3COpQ ._2F-A3 > li._1PqOt > button {
        pointer-events: none;
        cursor: not-allowed
    }

    ._3COpQ ._2F-A3 > li._1PqOt > button:before {
        background: hsla(0, 0%, 100%, .7)
    }

    ._3COpQ ._2IZJd {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 32px;
        height: 32px;
        top: -32px;
        right: -32px;
        z-index: 1;
        color: hsla(0, 0%, 100%, .7)
    }

    ._3COpQ ._2IZJd > svg {
        width: 24px;
        height: 24px
    }

    ._3COpQ ._2IZJd:focus, ._3COpQ ._2IZJd:hover {
        color: hsla(0, 0%, 100%, .9)
    }

    .xot6Z {
        width: 550px
    }

    .xot6Z .AvEBC {
        justify-content: flex-end
    }

    ._15rWT {
        width: 320px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 4px hsla(0, 0%, 42.7%, .5)
    }

    ._15rWT > div {
        padding: 8px 0
    }

    ._15rWT ._3RWyX {
        height: 1px;
        background: #e8eaed;
        margin: 8px 0
    }

    ._15rWT ._3ZMyl {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 40px;
        padding: 0 24px
    }

    ._15rWT ._3ZMyl ._3xtGQ {
        width: 24px;
        height: 24px;
        color: grey
    }

    ._15rWT ._3ZMyl ._3xtGQ._3nNjy {
        opacity: 0
    }

    ._15rWT ._3ZMyl ._1fbcZ {
        flex: 1 1;
        font-size: 14px;
        color: #3d3d3d;
        text-align: left
    }

    ._15rWT ._3ZMyl ._1fbcZ + ._3xtGQ, ._15rWT ._3ZMyl ._3xtGQ + ._1fbcZ {
        margin-left: 16px
    }

    ._15rWT ._3ZMyl:hover ._1fbcZ {
        color: #4d61fc
    }

    ._15rWT ._3ZMyl:hover ._3xtGQ._3nNjy {
        color: #4d61fc;
        opacity: 1
    }

    ._15rWT ._14kHj {
        text-align: center;
        opacity: .7
    }

    .Y-DN9 {
        display: block;
        position: relative;
        margin-left: 10px;
        margin-right: 25px;
        margin-top: 15px
    }

    .Y-DN9 ul {
        list-style: none
    }

    .Y-DN9 ul, .Y-DN9 ul li {
        display: block
    }

    .Y-DN9 ul li + li {
        margin-top: 10px
    }

    .Y-DN9 .Gb4sG {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        width: 100%;
        height: 40px;
        padding: 0 20px;
        border-radius: 20px;
        transition: width .3s ease-in-out, padding .3s ease-in-out
    }

    .Y-DN9 .Gb4sG:hover {
        cursor: pointer;
        background: #526199
    }

    .Y-DN9 .Gb4sG._6VeSy, .Y-DN9 .Gb4sG._6VeSy:hover {
        background: grey
    }

    .Y-DN9 .Gb4sG ._3mdNw {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        flex-shrink: 0
    }

    .Y-DN9 .Gb4sG ._3mdNw svg {
        width: 100%;
        color: #fff
    }

    .Y-DN9 .Gb4sG ._3b7Da {
        flex: 1 1;
        font-size: 14px;
        font-weight: 700;
        margin-left: 15px;
        max-width: 140px
    }

    .Y-DN9 .Gb4sG ._3b7Da, .Y-DN9 .Gb4sG .EJtbA {
        color: #fff;
        white-space: nowrap;
        overflow: hidden;
        transition: max-width .3s ease-in-out
    }

    .Y-DN9 .Gb4sG .EJtbA {
        max-width: 100px
    }

    .Y-DN9 .Gb4sG .ZyV3p {
        display: none;
        position: absolute;
        left: 45px;
        height: 25px;
        padding: 0 10px;
        white-space: nowrap;
        background: #526199;
        font-size: 14px;
        line-height: 25px;
        font-weight: 400;
        color: #fff;
        border-radius: 2px
    }

    .Y-DN9 .Gb4sG.XVIRd {
        width: 120px;
        background: #fff;
        outline: none;
        border: none;
        -webkit-appearance: none;
        -moz-appearance: none
    }

    .Y-DN9 .Gb4sG.XVIRd ._3mdNw svg {
        color: #4d61fc
    }

    .Y-DN9 .Gb4sG.XVIRd ._3b7Da {
        color: #3d3d3d
    }

    .Y-DN9 .Gb4sG.XVIRd:hover {
        background: #f2f2f2
    }

    .Y-DN9 ._OIrY {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000
    }

    .Y-DN9 ._2YEWk {
        width: 0;
        height: 0;
        border: none
    }

    .Y-DN9._1zzmh .Gb4sG {
        width: 40px;
        padding: 0 8px
    }

    .Y-DN9._1zzmh .Gb4sG:hover .ZyV3p {
        display: block
    }

    .Y-DN9._1zzmh .Gb4sG ._3b7Da, .Y-DN9._1zzmh .Gb4sG .EJtbA {
        max-width: 0
    }

    ._2rT_u {
        position: relative;
        z-index: 1000;
        display: block;
        width: 260px;
        height: 100vh;
        flex-shrink: 0;
        background: #4b646f;
        transition: width .3s ease-in-out
    }

    ._2rT_u ._393pE {
        position: relative;
        height: 60px;
        background: #263875
    }

    ._2rT_u ._393pE .bXjkY {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transition: opacity .3s ease-in-out
    }

    ._2rT_u ._393pE .bXjkY._2Z8LT {
        opacity: 0
    }

    ._2rT_u ._393pE ._2L97E, ._2rT_u ._393pE ._3Mbt- {
        height: 30px;
        color: #fff
    }

    ._2rT_u ._393pE ._3Mbt- {
        width: 30px
    }

    ._2rT_u .wkpbM {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: none;
        outline: none;
        padding: 0;
        margin: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        position: absolute;
        top: 108px;
        right: -12px;
        width: 24px;
        height: 24px;
        background: #fff;
        box-shadow: 0 2px 4px hsla(0, 0%, 42.7%, .5);
        border-radius: 50%
    }

    ._2rT_u .wkpbM svg {
        width: 100%;
        height: 100%;
        color: #4b646f;
        transition: all .3s ease-in-out
    }

    ._2rT_u._1FXWZ {
        width: 60px
    }

    ._2rT_u._1FXWZ .wkpbM svg {
        transform: rotate(180deg)
    }

    ._2CfNe {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: #f7f8ff;
        overflow: hidden
    }

    ._2CfNe ._21R5_ {
        width: 0;
        height: 100%;
        background: #263875;
        border-top-right-radius: 1px;
        border-bottom-right-radius: 1px;
        transition: width .3s ease 0s
    }

    ._-7_M_ {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 60px;
        padding: 0 10px 0 20px;
        background: #fff;
        box-shadow: 3px 1px 3px #e0e0e0
    }

    ._3KOb6 {
        flex: 1 1
    }

    .edHOw {
        margin-right: 15px
    }

    .edHOw ._1qyNq {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        background: #4b646f;
        border-radius: 50%
    }

    .edHOw ._1qyNq svg {
        width: 16px;
        height: 20px;
        color: #fff
    }

    .edHOw ._1qyNq:hover {
        cursor: pointer;
        background: #526199
    }

    ._2lSrw {
        position: relative;
        z-index: 2;
        min-width: 185px;
        height: 60px;
        flex-direction: row;
        padding: 0 10px 0 20px
    }

    ._2lSrw, ._2lSrw .coCAt {
        display: flex;
        align-items: center
    }

    ._2lSrw .coCAt {
        justify-content: center;
        width: 40px;
        height: 40px
    }

    ._2lSrw .coCAt > img, ._2lSrw .coCAt > svg {
        width: 100%;
        height: 100%
    }

    ._2lSrw .coCAt > svg {
        color: #4b646f
    }

    ._2lSrw .coCAt > img {
        display: block;
        background: #f5f5f5;
        border-radius: 50%;
        overflow: hidden
    }

    ._2lSrw ._2NLo_ {
        margin: 0 5px 0 15px
    }

    ._2lSrw ._2NLo_ ._1iovP {
        font-size: 14px;
        line-height: 14px;
        font-weight: 700;
        max-width: 150px
    }

    ._2lSrw ._2NLo_ ._22XoZ {
        font-size: 12px;
        line-height: 12px;
        color: #5f6368;
        margin-top: 3px
    }

    ._2lSrw ._2y2vs {
        width: 24px;
        height: 24px;
        color: #5f6368
    }

    ._2lSrw .YkuiA {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        display: none;
        list-style: none;
        background: #fff;
        box-shadow: 0 2px 4px hsla(0, 0%, 42.7%, .5);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        overflow: hidden
    }

    ._2lSrw .YkuiA > li {
        display: block
    }

    ._2lSrw .YkuiA > li > a, ._2lSrw .YkuiA > li > button {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 50px;
        padding: 0 28px
    }

    ._2lSrw .YkuiA > li > a:hover, ._2lSrw .YkuiA > li > button:hover {
        background: #f5f5f5
    }

    ._2lSrw .YkuiA > li > a ._1qyNq, ._2lSrw .YkuiA > li > button ._1qyNq {
        width: 24px;
        height: 24px;
        color: #8f8f8f
    }

    ._2lSrw .YkuiA > li > a .TFs57, ._2lSrw .YkuiA > li > button .TFs57 {
        font-size: 14px;
        font-weight: 700;
        color: #707070;
        margin-left: 23px
    }

    ._2lSrw:hover {
        cursor: pointer;
        background: #f5f5f5;
        box-shadow: 0 1px 3px #e0e0e0
    }

    ._2lSrw:hover .YkuiA {
        display: block
    }

    ._3vhTD {
        display: flex;
        flex-direction: row;
        height: 100vh
    }

    ._3zMVf {
        flex: 1 1;
        flex-grow: 1;
        min-width: 0
    }

    ._3zMVf > main {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 60px)
    }

    ._3zMVf ._7ZIhq {
        flex: 1 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center
    }

    ._3zMVf ._7ZIhq ._1a6qs {
        font-size: 20px;
        font-weight: 400;
        line-height: 1;
        text-align: center;
        margin-bottom: 30px
    }

    ._3zMVf ._7ZIhq ._2_hJd {
        color: #4b646f
    }

    ._3Hvgy {
        padding: 0 35px;
        justify-content: space-between;
        border-bottom: 1px solid #d8d8d8
    }

    ._2JWE7, ._3Hvgy {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 60px
    }

    ._1KlSY {
        flex: 1 1;
        overflow-y: scroll
    }

    ._3nDMa {
        position: relative;
        padding: 20px 0
    }

    ._3nDMa ._3n8Bu {
        display: block;
        position: absolute;
        top: 20px;
        font-size: 14px;
        line-height: 30px;
        opacity: .5;
        transition: all .2s;
        pointer-events: none
    }

    ._3nDMa ._2xqnS {
        width: 100%;
        height: 30px;
        padding: 0;
        margin: 0;
        font-size: 14px;
        outline: none;
        background: transparent;
        border: none;
        border-bottom: 2px solid #8adbdb
    }

    ._3nDMa ._11c4Y {
        font-size: 12px;
        line-height: 15px;
        position: absolute;
        margin-top: 5px
    }

    ._3nDMa._2HoXX ._3n8Bu, ._3nDMa ._2xqnS:focus + ._3n8Bu {
        top: 0;
        font-size: 14px;
        line-height: 14px;
        opacity: .8
    }

    ._3nDMa + ._3nDMa {
        margin-top: 10px
    }

    ._1ngKA {
        display: flex;
        width: 100vw;
        height: 100vh;
        background-color: #f7f8ff;
        overflow: scroll
    }

    ._1ngKA ._2NjUb {
        padding: 60px 40px 24px;
        margin: auto
    }

    ._1ngKA ._2F-vs {
        width: 370px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 4px hsla(0, 0%, 42.7%, .5)
    }

    ._1ngKA ._2F-vs ._3xvIu {
        position: relative;
        padding: 42px 24px 0
    }

    ._1ngKA ._2F-vs ._3xvIu ._3OcOS {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 64px;
        height: 64px;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        top: -32px;
        left: calc(50% - 32px);
        box-shadow: 0 -1px 0 hsla(0, 0%, 42.7%, .05)
    }

    ._1ngKA ._2F-vs ._3xvIu ._3OcOS > svg {
        width: 36px;
        height: 36px;
        color: #4d61fc
    }

    ._1ngKA ._2F-vs ._3xvIu .zt9Vu {
        font-size: 22px;
        text-align: center
    }

    ._1ngKA ._2F-vs ._1MM_f {
        padding: 32px 24px 24px
    }

    ._1ngKA ._2F-vs ._1MM_f ._1mPUV {
        min-height: 14px;
        text-align: center
    }

    ._1ngKA ._2F-vs ._1MM_f ._2G3gD {
        text-align: center;
        font-size: 14px;
        line-height: 1.4;
        color: #707070;
        margin-top: 16px
    }

    ._1ngKA ._2F-vs ._1MM_f ._2G3gD a {
        color: #4d61fc
    }

    ._1ngKA ._2F-vs ._1MM_f ._1TwcV {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: .05em;
        margin-top: 16px
    }

    ._1ngKA ._2F-vs ._1MM_f ._1TwcV:not(:disabled):focus {
        box-shadow: 0 0 1px 3px rgba(52, 75, 252, .4)
    }

    ._1ngKA ._2F-vs .PBwWD {
        padding: 0 24px 24px;
        display: flex;
        flex-direction: row;
        align-items: center
    }

    ._1ngKA ._2F-vs .PBwWD .ak7Bs {
        flex: 1 1;
        font-size: 15px;
        color: #707070;
        margin-right: 16px
    }

    ._1ngKA ._2F-vs .PBwWD ._1OBqD {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px;
        padding: 0 16px;
        font-size: 16px;
        color: #4b646f;
        border: 1px solid #4b646f;
        border-radius: 16px
    }

    ._1ngKA ._2F-vs .PBwWD ._1OBqD:not(:disabled):focus {
        box-shadow: 0 0 1px 3px rgba(52, 75, 252, .4)
    }

    ._1ngKA ._2F-vs .PBwWD ._1OBqD:hover {
        background-color: #f5f5f5
    }

    ._31Jbu {
        flex-direction: row;
        user-select: none;
        width: 300px;
        background: #f5f5f5;
        border-radius: 20px
    }

    ._31Jbu, ._31Jbu .ta0sE {
        display: flex;
        align-items: center;
        height: 40px
    }

    ._31Jbu .ta0sE {
        justify-content: center;
        cursor: pointer;
        border: none;
        outline: none;
        padding: 0;
        margin: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 40px;
        flex-shrink: 0;
        color: #fff;
        background: #4b646f;
        border-radius: 50%
    }

    ._31Jbu .ta0sE > svg {
        width: 24px;
        height: 24px
    }

    ._31Jbu .ta0sE:hover {
        background: #526199
    }

    ._31Jbu .ta0sE:disabled {
        background: #e4e6e9;
        pointer-events: none;
        cursor: not-allowed
    }

    ._31Jbu ._2ZcBu {
        flex-direction: row;
        flex: 1 1
    }

    ._31Jbu ._2ZcBu, .x3edf {
        display: flex;
        align-items: center;
        justify-content: center
    }

    .x3edf {
        flex-direction: column;
        padding: 60px 24px 24px
    }

    .x3edf ._1egou {
        font-size: 120px;
        font-weight: 300;
        margin-bottom: 30px
    }

    .x3edf ._1egou, .x3edf ._2kCFz {
        line-height: 1;
        color: #4b646f;
        text-align: center
    }

    .x3edf ._2kCFz {
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 20px
    }

    .x3edf ._3qN_k {
        color: #767676;
        text-align: center;
        margin-bottom: 30px
    }

    .x3edf .J7VKZ {
        color: #4b646f
    }

    ._3zQ4D {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 40px;
        border-bottom: 1px solid #d8d8d8
    }

    ._3KhHJ {
        user-select: none;
        flex-shrink: 0
    }

    ._3KhHJ, ._3KhHJ ._2c_QE {
        font-size: 14px;
        font-weight: 700;
        color: #707070
    }

    ._3KhHJ ._2c_QE {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: left
    }

    ._3KhHJ ._3SjVY {
        width: 20px;
        height: 20px;
        margin-left: 10px
    }

    ._22WRJ {
        height: 48px;
        font-size: 14px;
        font-weight: 400;
        color: #707070
    }

    ._3MA6q, ._22WRJ {
        display: flex;
        flex-direction: row;
        align-items: center
    }

    ._3MA6q {
        flex-shrink: 0
    }

    ._1FCEn {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        color: #4b646f;
        user-select: none
    }

    ._1FCEn:before {
        content: "";
        display: block;
        position: absolute;
        background: rgba(0, 0, 0, .05);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        left: -8px;
        top: -8px;
        opacity: 0;
        transform: scale(.6);
        transition: all .15s ease-in-out
    }

    ._1FCEn:hover:before {
        opacity: 1;
        transform: scale(1);
        transition: transform .15s ease-in-out
    }

    ._1FCEn input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: -1
    }

    ._1FCEn .uCPpW {
        display: block;
        position: relative;
        width: 24px;
        height: 24px;
        flex-shrink: 0
    }

    ._1FCEn .uCPpW > svg {
        width: 100%;
        height: 100%
    }

    ._1FCEn ._2ngJE {
        display: block;
        margin-left: 20px;
        font-size: 14px;
        line-height: 14px
    }

    ._2O74R {
        flex: 1 1;
        width: 100%
    }

    ._2O74R ._2JaAT {
        padding: 0 40px 0 35px;
        border-bottom: 1px solid #e8eaed
    }

    ._2O74R ._3buWP {
        height: 10px;
        background: #e6e6e6;
        border-radius: 5px
    }

    ._2O74R ._3J4Ua {
        width: 24px;
        height: 24px;
        border-radius: 50%
    }

    ._2O74R ._23vXg {
        flex: 1 1;
        margin-left: 20px
    }

    ._2O74R ._2Osui {
        width: 80px;
        margin-left: 24px
    }

    ._2O74R ._3hbD_ {
        width: 150px;
        margin-left: 24px
    }

    ._2O74R ._22csr, ._2O74R .G-WR- {
        width: 110px;
        margin-left: 24px
    }

    ._2O74R ._3jDHU {
        width: 112px;
        margin-left: 24px
    }

    ._3eJUa {
        flex: 1 1
    }

    ._2Tyzv {
        width: 80px
    }

    ._3BudU {
        width: 150px
    }

    ._1A7q3, ._2-gdl {
        width: 110px
    }

    ._2MjVd {
        width: 112px
    }

    .CSERq {
        flex: 1 1;
        min-width: 0
    }

    .CSERq ._3J4Ua {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        color: #8f8f8f;
        margin-right: 20px
    }

    .CSERq ._23vXg {
        font-weight: 700;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }

    .vIvxU {
        width: 80px
    }

    ._2_fag, .giGPu {
        width: 150px
    }

    ._2_fag ._3J4Ua, .giGPu ._3J4Ua {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        color: #8f8f8f;
        margin-right: 20px
    }

    ._2_fag ._1fFRS, ._2_fag .Nxy21 {
        color: #526199
    }

    ._2_fag ._3WyW2 {
        color: #8f8f8f
    }

    ._1lQZq {
        width: 112px
    }

    ._1lQZq .cgj-u {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        color: #8f8f8f
    }

    ._1lQZq .cgj-u:before {
        display: block;
        content: "";
        position: absolute;
        width: 32px;
        height: 32px;
        background: #4b646f;
        border-radius: 50%;
        z-index: 0;
        opacity: 0
    }

    ._1lQZq .cgj-u > svg {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        z-index: 1
    }

    ._1lQZq .cgj-u .o3ENt {
        animation: _1bYIo 1.4s linear infinite;
        transform: translateZ(0)
    }

    @keyframes _1bYIo {
        0% {
            transform: rotate(0deg)
        }
        to {
            transform: rotate(1turn)
        }
    }

    ._1lQZq .cgj-u ._3myQ- {
        position: absolute;
        left: -14px;
        top: 36px;
        width: 60px;
        height: 26px;
        font-size: 13px;
        line-height: 26px;
        text-align: center;
        color: #fff;
        background: #4b646f;
        border-radius: 2px;
        z-index: 2;
        display: none
    }

    ._1lQZq .cgj-u:disabled {
        opacity: .5
    }

    ._1lQZq .cgj-u:hover {
        color: #fff
    }

    ._1lQZq .cgj-u:hover:before {
        opacity: 1
    }

    ._1lQZq .cgj-u:hover ._3myQ- {
        display: block
    }

    ._1lQZq .cgj-u + .cgj-u {
        margin-left: 8px
    }

    ._2vAQ3 {
        width: 110px
    }

    ._1I6nZ {
        padding: 0 40px 0 35px
    }

    ._3pvn9:not(:last-of-type) {
        margin-right: 24px
    }

    .RfRW9 {
        position: relative;
        padding: 0 20px 0 35px;
        margin-right: 20px
    }

    .RfRW9:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 20px;
        display: block;
        content: "";
        height: 1px;
        background: #e8eaed
    }

    .RfRW9 ._2UGbT:not(:last-of-type) {
        margin-right: 24px
    }

    .RfRW9:hover {
        background: #f7f8ff;
        border-top-right-radius: 24px;
        border-bottom-right-radius: 24px;
        border-bottom-color: transparent;
        color: #4d61fc
    }

    .RfRW9:hover:after {
        background: transparent
    }

    .RfRW9:hover ._2PE1w ._23MIa {
        color: #4b646f
    }

    .RfRW9:hover ._2PE1w ._23MIa:hover {
        color: #fff
    }

    .RfRW9:hover ._2PE1w ._23MIa:hover:before {
        opacity: 1
    }

    ._34qL6 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        background: #f5f5f5;
        width: 320px;
        height: 320px;
        border-radius: 50%
    }

    ._34qL6 ._1oXKo {
        position: absolute;
        bottom: 120px
    }

    ._34qL6 ._34vWl {
        height: 70px;
        color: #b9b9b9
    }

    ._34qL6 .Ii2Ty {
        font-size: 16px;
        line-height: 16px;
        color: #3d3d3d;
        margin: 24px 0 32px
    }

    ._34qL6 .PQ1Zb {
        font-size: 14px;
        color: #526199;
        margin-top: 32px
    }

    ._1qSoY {
        display: flex;
        flex-direction: column;
        position: relative;
        flex: 1 1
    }

    ._1qSoY:after {
        content: "";
        top: 0;
        bottom: 0;
        border: 3px solid #4d61fc;
        background: rgba(77, 97, 252, .15);
        z-index: 1
    }

    ._1qSoY ._1BoKh, ._1qSoY:after {
        display: none;
        position: absolute;
        left: 0;
        right: 0
    }

    ._1qSoY ._1BoKh {
        z-index: 2;
        bottom: 40px
    }

    ._1qSoY ._1BoKh, ._1qSoY ._1BoKh ._2Xy5H {
        flex-direction: column;
        align-items: center;
        justify-content: center
    }

    ._1qSoY ._1BoKh ._2Xy5H {
        display: flex;
        width: 240px;
        height: 100px;
        background: #526199;
        border-radius: 4px;
        border: 1px solid #979797
    }

    ._1qSoY ._1BoKh ._2Xy5H ._2wpjY {
        height: 40px;
        color: #fff
    }

    ._1qSoY ._1BoKh ._2Xy5H ._1eZXZ {
        font-size: 16px;
        line-height: 16px;
        font-weight: 700;
        color: #fff;
        margin-top: 10px
    }

    ._1qSoY._2lZaD:after {
        display: block
    }

    ._1qSoY._2lZaD ._1BoKh {
        display: flex
    }

    .GtyS0 {
        width: 0;
        height: 0;
        border: none
    }

    .D4atW {
        display: flex;
        align-items: center;
        flex: 1 1
    }

    .D4atW, .urvGf {
        justify-content: center
    }

    ._2vmrc {
        padding: 0 40px 0 35px
    }

    ._3lhIs:not(:last-of-type) {
        margin-right: 24px
    }

    ._3aQpH {
        position: relative;
        padding: 0 20px 0 35px;
        margin-right: 20px
    }

    ._3aQpH:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 20px;
        display: block;
        content: "";
        height: 1px;
        background: #e8eaed
    }

    ._3aQpH ._1X-TT:not(:last-of-type) {
        margin-right: 24px
    }

    ._3aQpH:hover {
        background: #f7f8ff;
        border-top-right-radius: 24px;
        border-bottom-right-radius: 24px;
        border-bottom-color: transparent;
        color: #4d61fc
    }

    ._3aQpH:hover:after {
        background: transparent
    }

    ._3aQpH:hover ._1hhxj ._180X7 {
        color: #4b646f
    }

    ._3aQpH:hover ._1hhxj ._180X7:hover {
        color: #fff
    }

    ._3aQpH:hover ._1hhxj ._180X7:hover:before {
        opacity: 1
    }

    ._1WM9P {
        display: flex;
        align-items: center;
        flex: 1 1
    }

    ._1HQhF, ._1WM9P {
        justify-content: center
    }

    ._27JNS {
        padding: 0 40px 0 35px
    }

    ._28CI0:not(:last-of-type) {
        margin-right: 24px
    }

    .QToF8 {
        position: relative;
        padding: 0 20px 0 35px;
        margin-right: 20px
    }

    .QToF8:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 20px;
        display: block;
        content: "";
        height: 1px;
        background: #e8eaed
    }

    .QToF8 ._2qwZG:not(:last-of-type) {
        margin-right: 24px
    }

    .QToF8:hover {
        background: #f7f8ff;
        border-top-right-radius: 24px;
        border-bottom-right-radius: 24px;
        border-bottom-color: transparent;
        color: #4d61fc
    }

    .QToF8:hover:after {
        background: transparent
    }

    .QToF8:hover ._14Vy7 ._1tLhu {
        color: #4b646f
    }

    .QToF8:hover ._14Vy7 ._1tLhu:hover {
        color: #fff
    }

    .QToF8:hover ._14Vy7 ._1tLhu:hover:before {
        opacity: 1
    }

    ._14hTZ {
        display: flex;
        align-items: center;
        flex: 1 1
    }

    ._14hTZ, ._24MJl {
        justify-content: center
    }

    ._1EXiN {
        padding: 0 40px 0 35px
    }

    ._3dXGG:not(:last-of-type) {
        margin-right: 24px
    }

    ._2JAvV {
        position: relative;
        padding: 0 20px 0 35px;
        margin-right: 20px
    }

    ._2JAvV:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 20px;
        display: block;
        content: "";
        height: 1px;
        background: #e8eaed
    }

    ._2JAvV ._3PTxt:not(:last-of-type) {
        margin-right: 24px
    }

    ._2JAvV:hover {
        background: #f7f8ff;
        border-top-right-radius: 24px;
        border-bottom-right-radius: 24px;
        border-bottom-color: transparent;
        color: #4d61fc
    }

    ._2JAvV:hover:after {
        background: transparent
    }

    ._2JAvV:hover ._17_eO ._2ZrQ4 {
        color: #4b646f
    }

    ._2JAvV:hover ._17_eO ._2ZrQ4:hover {
        color: #fff
    }

    ._2JAvV:hover ._17_eO ._2ZrQ4:hover:before {
        opacity: 1
    }

    ._2IuUQ {
        position: relative;
        width: 220px
    }

    ._2IuUQ ._36cKo {
        display: block;
        width: 100%;
        height: 40px;
        background: #fff;
        padding: 0 30px;
        border-radius: 25px;
        box-shadow: 0 2px 3px hsla(0, 0%, 42.7%, .5)
    }

    ._2IuUQ ._36cKo ._8rr4n {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 1px;
        border-bottom: 2px solid #4b646f
    }

    ._2IuUQ ._36cKo ._8rr4n .KtQA- {
        font-size: 14px;
        flex: 1 1;
        text-align: left
    }

    ._2IuUQ ._36cKo ._8rr4n ._3_-Bh {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        color: #5f6368
    }

    ._2IuUQ ._36cKo:hover {
        background: #f5f5f5
    }

    ._2IuUQ ._1xYD4 {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 4px hsla(0, 0%, 42.7%, .5);
        overflow: hidden
    }

    ._2IuUQ ._1xYD4 ._10zGv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 60px;
        padding: 0 15px
    }

    ._2IuUQ ._1xYD4 ._10zGv .KtQA- {
        font-size: 12px;
        color: #344bfc
    }

    ._2IuUQ ._1xYD4 ._10zGv ._1ED1Y {
        font-size: 14px
    }

    ._2IuUQ ._1xYD4 ._1xQ9x {
        height: 1px;
        background: #e8eaed
    }

    ._2IuUQ ._1xYD4 ol {
        list-style: none;
        display: block
    }

    ._2IuUQ ._1xYD4 ol li {
        display: block
    }

    ._2IuUQ ._1xYD4 ol li > button {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 40px;
        font-size: 14px;
        text-align: left;
        padding: 0 15px
    }

    ._2IuUQ ._1xYD4 ol li > button:hover {
        color: #344bfc;
        background: #f5f5f5
    }

    ._2IUwi {
        flex: 1 1
    }

    ._2rUka {
        margin-right: 20px
    }

    ._2VSl5 {
        display: flex;
        align-items: center;
        flex: 1 1
    }

    ._2VSl5, ._28-Lc {
        justify-content: center
    }

    ._3utIZ {
        padding: 0 !important;
        opacity: 1 !important
    }

    ._3utIZ .rc-tooltip-content .rc-tooltip-arrow {
        display: none
    }

    ._3utIZ .rc-tooltip-content .rc-tooltip-inner {
        min-height: 25px;
        font-size: 14px;
        line-height: 1.3;
        color: #fff;
        padding: 4px 12px;
        background: #d0021b;
        border-radius: 3px;
        box-shadow: none
    }

    .pwuv5 {
        flex-direction: row;
        height: 30px;
        padding: 0 20px 0 12px;
        margin-left: 30px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px
    }

    .pwuv5, .pwuv5 ._3gzy3 {
        display: flex;
        align-items: center
    }

    .pwuv5 ._3gzy3 {
        justify-content: center;
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        margin-right: 5px
    }

    .pwuv5 ._3gzy3 > svg {
        width: 20px;
        height: 20px
    }

    .pwuv5 ._3gzy3 .A2ukb {
        color: #ffc3ca
    }

    .pwuv5 ._3gzy3 ._2NiKy {
        color: #ccd2ff
    }

    .pwuv5 .-ZXY5 {
        font-size: 13px;
        color: #fff;
        flex: 1 1
    }

    .pwuv5 ._2-iHh {
        display: block;
        width: 160px;
        margin: 0 0 0 5px;
        padding: 0
    }

    .pwuv5 ._2-iHh .T_tt1 {
        width: 160px;
        height: 22px;
        border: none;
        outline: none;
        background-color: #5977ad;
        -webkit-appearance: none;
        border-bottom: 1px solid #4b646f;
        /*border-radius:20px;*/
        text-align: center;
    }

    .pwuv5 ._1qxfi, .pwuv5 ._2-iHh .T_tt1 {
        font-size: 14px;
        line-height: 22px;
        font-weight: 700;
        color: white;
    }

    .pwuv5 ._1qxfi {
        margin-left: 3px
    }

    .pwuv5 ._18vQD {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 90px;
        height: 100%;
        color: #333;
        padding: 0 20px;
        margin-right: -20px;
        justify-content: space-between;
        background: #5977ad;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border: 1px solid grey
    }

    ._18vQD:hover {
        background: #4b646f
    }

    .pwuv5 ._18vQD ._3g8vB {
        font-weight: 700
    }

    .pwuv5 ._18vQD ._1y5oY {
        width: 20px;
        height: 20px;
        flex-shrink: 0
    }

    .pwuv5:hover {
        cursor: pointer
    }

    .pwuv5.SYoRU {
        background-color: #4b646f
    }

    ._2rAcL {
        padding: 12px 0
    }

    ._2rAcL ._3V-YK {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 30px;
        color: #fff;
        padding: 0 16px
    }

    ._2rAcL ._3V-YK ._3theJ {
        width: 24px;
        height: 24px;
        flex-shrink: 0
    }

    ._2rAcL ._3V-YK .p6tU- {
        font-size: 16px;
        font-weight: 700;
        margin-left: 8px
    }

    ._2rAcL + ._2rAcL {
        border-top: 1px solid #4b646f
    }

    ._38K1d ._2rAcL {
        padding: 12px 0
    }

    ._38K1d ._2rAcL ._3V-YK {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 30px;
        color: #fff;
        padding: 0 18px
    }

    ._38K1d ._2rAcL ._3V-YK ._3theJ {
        width: 22px;
        height: 22px;
        flex-shrink: 0;
        border-radius: 50%;
        background: #6f7eb5
    }

    ._38K1d ._2rAcL ._3V-YK .p6tU- {
        width: 130px;
        height: 10px;
        border-radius: 5px;
        margin-left: 10px;
        background: #6f7eb5
    }

    ._38K1d ._2rAcL ._2GSvV ._1oLfF {
        width: 120px;
        height: 8px;
        border-radius: 4px;
        margin: 12px 0 12px 70px;
        background: #6f7eb5
    }

    ._38K1d ._2rAcL ._2GSvV ._1oLfF:first-of-type {
        width: 150px
    }

    ._38K1d ._2rAcL ._2GSvV ._1oLfF:last-of-type {
        width: 90px
    }

    .VoUG- {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        width: 400px;
        background: #5977ad;
        box-shadow: 0 2px 4px #263875
    }

    .VoUG- .M8okG {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 50px;
        padding: 0 24px 0 48px;
        box-shadow: 0 2px 4px #4b646f
    }

    .VoUG- .M8okG ._3y7wX {
        font-size: 16px;
        color: #fff;
        font-weight: 700
    }

    .VoUG- ._3JO_L {
        flex: 1 1;
        overflow-y: scroll;
        scroll-behavior: smooth
    }

    .VoUG- ._2vE59 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        position: relative
    }

    .VoUG- ._2vE59:before {
        display: block;
        content: "";
        position: absolute;
        left: -8px;
        top: -8px;
        width: 40px;
        height: 40px;
        background: #4b646f;
        border-radius: 50%;
        z-index: 0;
        opacity: 0
    }

    .VoUG- ._2vE59 > svg {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        z-index: 1;
        color: #fff
    }

    .VoUG- ._2vE59 ._3q34O {
        animation: P3pOy 1.4s linear infinite;
        transform: translateZ(0)
    }

    @keyframes P3pOy {
        0% {
            transform: rotate(0deg)
        }
        to {
            transform: rotate(1turn)
        }
    }

    .VoUG- ._2vE59:disabled {
        opacity: .5
    }

    .VoUG- ._2vE59:hover:before {
        opacity: 1
    }

    .VoUG- ._3eu0Y {
        box-shadow: 0 -2px 4px #4b646f
    }

    .VoUG- ._3eu0Y .nqKTX {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 75px;
        justify-content: space-between;
        padding: 0 20px
    }

    .VoUG- ._3eu0Y .nqKTX .MBNC3 {
        margin-left: 20px
    }

    .VoUG- ._3eu0Y .Y2nIC {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 56px;
        padding: 0 20px 0 16px
    }

    .VoUG- ._3eu0Y .Y2nIC .V8Kiz {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 170px
    }

    .VoUG- ._3eu0Y .Y2nIC .V8Kiz ._3JO_L {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex: 1 1;
        font-size: 14px;
        font-weight: 700;
        color: #fff
    }

    ._29Wlc {
        z-index: 1;
        border: 2px solid #344bfc;
        cursor: move
    }

    ._2U9v1, ._29Wlc {
        position: absolute
    }

    ._2U9v1 {
        width: 6px;
        height: 6px;
        border: 1px solid #344bfc;
        background: #fff
    }

    ._2U9v1._29M1q {
        cursor: se-resize;
        bottom: -3px;
        right: -3px
    }

    ._2U9v1._2Qd0e {
        cursor: sw-resize;
        bottom: -3px;
        left: -3px
    }

    ._2U9v1._1SI6F {
        cursor: nw-resize;
        top: -3px;
        left: -3px
    }

    ._2U9v1.oB_49 {
        cursor: ne-resize;
        top: -3px;
        right: -3px
    }

    ._2Nwjb {
        position: absolute
    }

    ._2Nwjb._1lLc9, ._2Nwjb._2lEXx {
        left: 3px;
        right: 3px;
        height: 6px
    }

    ._2Nwjb._1lLc9 {
        top: -4px;
        cursor: n-resize
    }

    ._2Nwjb._2lEXx {
        bottom: -4px;
        cursor: s-resize
    }

    ._2Nwjb._3-aFM, ._2Nwjb._32BCX {
        top: 3px;
        bottom: 3px;
        width: 6px
    }

    ._2Nwjb._32BCX {
        right: -4px;
        cursor: e-resize
    }

    ._2Nwjb._3-aFM {
        left: -4px;
        cursor: w-resize
    }

    ._2Q_Lu {
        position: relative;
        display: block
    }

    ._1KFqn {
        position: absolute;
        z-index: 3;
        margin-top: 1px;
        background: #e4e6e9;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
        cursor: auto
    }

    ._1KFqn .Lmw48 {
        padding: 10px 20px
    }

    ._1KFqn .Lmw48 > form {
        display: block;
        width: 100%;
        padding: 0;
        margin: 0
    }

    ._1KFqn .Lmw48 > form > textarea {
        width: 100%;
        font-size: 16px;
        line-height: 22px;
        padding: 0 0 4px;
        margin: 0;
        border: none;
        border-bottom: 1px solid #979797;
        background: transparent;
        outline: none;
        resize: none
    }

    ._1KFqn ._2xD0- {
        font-size: 14px;
        font-weight: 700;
        color: #5f6368;
        text-align: center;
        padding: 0 10px 10px
    }

    ._1KFqn ._3AbOo {
        padding: 0 12px;
        text-align: center;
        color: #4b646f
    }

    ._1KFqn ._6f0rp {
        flex-direction: row;
        padding: 15px
    }

    ._1KFqn ._1t8MY, ._1KFqn ._6f0rp {
        display: flex;
        align-items: center;
        justify-content: center
    }

    ._1KFqn ._1t8MY {
        width: 40px;
        height: 40px;
        border-radius: 50%
    }

    ._1KFqn ._1t8MY > svg {
        width: 24px;
        height: 24px
    }

    ._1KFqn ._1t8MY._2Gln1 {
        color: #5977ad;
        background: #ecf0f5;
        border: 2px solid #5977ad;
        margin-left: 10px;
        opacity: 0.5;

    }

    ._1KFqn ._1t8MY:hover {
        color: #fff;
        background: #5977ad
    }

    ._2mTdx {
        position: absolute;
        z-index: 1;
        border: 2px dashed rgba(0, 0, 0, .1)
    }

    ._2mTdx:hover {
        border: 2px dashed #344bfc
    }

    .pucbO {
        position: absolute;
        z-index: 0;
        background-color: rgba(52, 75, 252, .1)
    }

    .pucbO._1MUsg {
        background: transparent
    }

    .zXMNk {
        flex-direction: column;
        flex: 1 1 auto;
        padding: 20px 0 0 20px
    }

    .zXMNk, .zXMNk ._30ozt {
        display: flex;
        align-items: center
    }

    .zXMNk ._30ozt {
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -70px;
        width: 40px;
        height: 140px;
        background: #4b646f;
        border-radius: 20px
    }

    .zXMNk ._30ozt ._2IjNE {
        position: relative;
        width: 24px;
        height: 24px;
        color: #fff;
        flex-shrink: 0
    }

    .zXMNk ._30ozt ._2IjNE:before {
        display: block;
        content: "";
        position: absolute;
        left: -5px;
        top: -5px;
        width: 34px;
        height: 34px;
        background: #526199;
        border-radius: 50%;
        z-index: 0;
        opacity: 0
    }

    .zXMNk ._30ozt ._2IjNE > svg {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%
    }

    .zXMNk ._30ozt ._2IjNE:disabled {
        opacity: .5
    }

    .zXMNk ._30ozt ._2IjNE:hover:before {
        opacity: 1
    }

    .zXMNk ._30ozt ._2IjNE + ._2IjNE {
        margin-top: 10px
    }

    .zXMNk ._30ozt ._1AwHQ {
        width: 30px;
        height: 1px;
        background: #4b646f;
        margin: 12px 0
    }

    .zXMNk ._2GUgc {
        width: 100%;
        display: flex;
        flex: 1 1;
        flex-basis: 0;
        flex-direction: column;
        align-items: center;
        overflow: scroll;
        scroll-behavior: smooth;
        padding-right: 20px
    }

    .zXMNk ._2FnT4 {
        width: 100%;
        height: auto;
        padding-bottom: 180px
    }

    .zXMNk ._1kAki, .zXMNk ._2FnT4 {
        position: relative;
        margin: 0 auto
    }

    .zXMNk ._1kAki {
        background: #fff;
        box-shadow: 0 6px 10px rgba(95, 95, 95, .5)
    }

    .zXMNk ._1kAki ._3XjRN {
        position: relative;
        overflow: hidden;
        z-index: 0
    }

    .zXMNk ._1kAki ._1t-fy {
        display: block;
        width: 100%;
        height: auto;
        border: none;
        -webkit-user-drag: none
    }

    ._3VZl4 {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 120px
    }

    ._3VZl4 ._2IT3v {
        width: 16px;
        height: 16px;
        flex-shrink: 0;
        margin-left: 5px
    }

    ._3VZl4 ._2IT3v > svg {
        width: 100%;
        height: 100%
    }

    ._3VZl4 ._2IT3v ._3cI04 {
        color: #d0021b
    }

    ._3VZl4 ._2IT3v ._184tm {
        color: #4b646f
    }

    ._3VZl4 .CVAYi {
        flex: 1 1
    }

    ._3VZl4 .XKBFo {
        width: 100%;
        height: 36px;
        border: none;
        outline: none;
        background: transparent;
        margin-left: 3px;
        -webkit-appearance: none;
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        color: #303030;
        text-align: left
    }

    ._3VZl4:first-of-type {
        flex: 1 1
    }

    ._3VZl4._323oZ {
        background-color: #e4e6e9;
        border-radius: 20px
    }

    ._30yHQ {
        flex-direction: row;
        margin: 0 50px;
        border-bottom: 1px solid #d8d8d8
    }

    ._30yHQ, ._30yHQ .PuQ4o {
        display: flex;
        align-items: center
    }

    ._30yHQ .PuQ4o {
        flex-direction: column;
        width: 32px;
        min-height: 1px
    }

    ._30yHQ .PuQ4o ._26zq1 {
        display: none;
        align-items: center;
        justify-content: center;
        position: relative;
        color: #8f8f8f;
        width: 24px;
        height: 24px
    }

    ._30yHQ .PuQ4o ._26zq1:before {
        display: block;
        content: "";
        position: absolute;
        width: 32px;
        height: 32px;
        background: #f5f5f5;
        border-radius: 50%;
        z-index: 0
    }

    ._30yHQ .PuQ4o ._26zq1 > svg {
        width: 100%;
        height: 100%;
        flex-shrink: 0;
        z-index: 1
    }

    ._30yHQ .PuQ4o ._26zq1 ._2hTLH {
        animation: pnj3C 1.4s linear infinite;
        transform: translateZ(0)
    }

    @keyframes pnj3C {
        0% {
            transform: rotate(0deg)
        }
        to {
            transform: rotate(1turn)
        }
    }

    ._30yHQ .PuQ4o ._26zq1:hover {
        color: #fff
    }

    ._30yHQ .PuQ4o ._26zq1:hover:before {
        background: #4b646f
    }

    ._30yHQ.piljd, ._30yHQ:hover {
        background: #f7f8ff;
        border-color: transparent;
        border-radius: 18px
    }

    ._30yHQ:hover .PuQ4o ._26zq1 {
        display: flex
    }

    ._1EN8u {
        z-index: 1;
        background: #fff;
        box-shadow: 0 -1px 5px rgba(95, 95, 95, .5)
    }

    ._1EN8u ._3sfbe {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 42px;
        padding: 0 50px;
        border-bottom: 1px solid #e8eaed
    }

    ._1EN8u ._3sfbe .f3dEw {
        width: 120px;
        padding-left: 24px;
        font-size: 14px;
        font-weight: 700;
        color: #707070
    }

    ._1EN8u ._3sfbe .f3dEw:first-of-type {
        flex: 1 1
    }

    ._1EN8u ._3sfbe .f3dEw._2FmQj {
        width: 32px;
        height: 1px
    }

    ._1EN8u .T3Vnv {
        max-height: 200px;
        overflow-y: scroll;
        margin-bottom: 50px
    }

    ._1EN8u ._1zRu5 {
        padding: 0 50px 20px
    }

    ._1EN8u ._1zRu5 ._3cXV2 {
        height: 30px
    }

    ._1EN8u ._1zRu5 ._3cXV2:focus {
        outline: 3px solid rgba(59, 153, 252, .7);
        outline: 5px auto -webkit-focus-ring-color
    }

    ._1EN8u ._1zRu5 ._3cXV2 + ._3cXV2 {
        margin-left: 20px
    }

    ._3Nl0S {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1010;
        background: #fff
    }

    ._3Nl0S .DunCM {
        flex-direction: column;
        bottom: 0;
        background-color: #f7f8ff;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAABGdBTUEAALGPC/xhBQAAACVJREFUCB1jYEAAJhgTzgAKsCALgiTYgFgOSiMrBEvAFMNpuAoADVkAQSOBzJIAAAAASUVORK5CYII=);
        background-repeat: repeat;
        background-size: 5px 5px
    }

    ._3Nl0S .DunCM, ._3Nl0S .q3Fwi {
        display: flex;
        position: absolute;
        left: 400px;
        right: 0;
        top: 0
    }

    ._3Nl0S .q3Fwi {
        height: 50px;
        font-size: 16px;
        font-weight: 700;
        background: rgba(52, 75, 252, .75);
        box-shadow: 0 2px 4px #4b646f
    }

    ._3Nl0S ._23Ns6, ._3Nl0S .q3Fwi {
        align-items: center;
        justify-content: center;
        color: #fff
    }

    ._3Nl0S ._23Ns6 {
        display: flex;
        position: absolute;
        width: 40px;
        height: 40px;
        top: 10px;
        right: 10px;
        z-index: 1;
        background: #4b646f;
        border-radius: 50%;
        box-shadow: 0 2px 4px hsla(0, 0%, 49.8%, .5)
    }

    ._3Nl0S ._23Ns6 > svg {
        width: 24px;
        height: 24px
    }

    ._3Nl0S ._23Ns6:focus, ._3Nl0S ._23Ns6:hover {
        background: #5977ad
    }

    ._3Nl0S ._2P_Ow {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        padding: 24px;
        margin: 20px auto;
        background: #fff;
        box-shadow: 0 6px 10px rgba(95, 95, 95, .5)
    }

    ._3Nl0S ._2P_Ow ._3ZwAD {
        margin-top: 20px
    }

    ._2HTPg {
        display: flex;
        flex-direction: row;
        padding: 0 35px
    }

    ._2TBee {
        display: flex;
        justify-content: center;
        width: 180px;
        margin: 45px 35px 0 0
    }

    ._1vsk9 {
        flex: 1 1;
        min-width: 0
    }

    ._3YrWC {
        width: 144px;
        height: 144px
    }

    ._3YrWC > img, ._3YrWC > svg {
        width: 100%;
        height: 100%
    }

    ._3YrWC > svg {
        color: #4b646f
    }

    ._3YrWC > img {
        display: block;
        background: #f5f5f5;
        border-radius: 50%;
        overflow: hidden
    }

    .IF0EC {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        min-height: 60px;
        border-bottom: 1px solid #e8eaed
    }

    .IF0EC > label {
        width: 160px;
        height: auto;
        font-size: 14px;
        font-weight: 700;
        color: #707070;
        margin: 20px 0 0 35px
    }

    .IF0EC ._3YshG {
        flex: 1 1;
        padding: 20px;
        min-width: 0
    }

    .IF0EC ._3YshG .rd3t8 {
        width: 100%;
        padding: 0;
        margin: 0;
        border: none;
        font-size: 14px;
        height: 20px;
        outline: none
    }

    .IF0EC ._3YshG .rd3t8:not(:disabled) {
        font-weight: 700
    }

    .IF0EC ._3YshG .CEAS- {
        display: none
    }

    .IF0EC ._3YshG ._1lO5- {
        border-bottom: 1px solid #d8d8d8
    }

    .IF0EC ._3YshG ._22ZEq {
        position: absolute
    }

    .IF0EC ._3YshG ._2o5M2 {
        font-size: 12px;
        word-break: break-all
    }

    .IF0EC ._3YshG ._3wga8 {
        font-size: 12px;
        opacity: .8;
        margin-top: 10px
    }

    .IF0EC ._2vMyE {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 140px;
        margin-top: 10px
    }

    .IF0EC ._2vMyE ._2d4wA:focus {
        outline: 3px solid rgba(59, 153, 252, .7);
        outline: 5px auto -webkit-focus-ring-color
    }

    .IF0EC ._2vMyE ._3qTx7 {
        color: #4b646f
    }

    ._2YD_M {
        height: 30px;
        border: 1px solid #526199;
        border-radius: 5px;
        overflow: hidden;
        position: relative
    }

    ._2YD_M ._3AI9E {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 0;
        background: #526199;
        opacity: .15;
        z-index: 1
    }

    ._2YD_M ._3GPzC {
        position: relative;
        z-index: 2;
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 30px;
        color: #526199
    }
</style>
