html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*vertical-align: baseline;*/
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* start editing from here */

a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}


/* text align right */

.txt-lt {
    text-align: left;
}


/* text align left */

.txt-center {
    text-align: center;
}


/* text align center */

.float-rt {
    float: right;
}


/* float right */

.float-lt {
    float: left;
}


/* float left */

.clear {
    clear: both;
}


/* clear float */

.pos-relative {
    position: relative;
}


/* Position Relative */

.pos-absolute {
    position: absolute;
}


/* Position Absolute */

.vertical-base {
    vertical-align: baseline;
}


/* vertical align baseline */

.vertical-top {
    vertical-align: top;
}


/* vertical align top */

nav.vertical ul li {
    display: block;
}


/* vertical menu */

nav.horizontal ul li {
    display: inline-block;
}


/* horizontal menu */

img {
    max-width: 100%;
}


/*end reset*/

html,
body {
    padding: 0;
    margin: 0;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
}

body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    cursor: pointer !important;
}

button,
.btn {
    cursor: pointer !important;
}

body a:hover {
    text-decoration: none;
}

body a:focus,
a:hover {
    text-decoration: none;
}

select,
input[type="email"],
input[type="text"],
input[type=password],
input[type="button"],
input[type="submit"],
textarea {
    font-family: 'Open Sans', sans-serif;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

p {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}


/*-- //Reset-Code --*/


/*--background --*/
.back-ground {
    box-sizing: border-box;
    background: #ffffff;
    min-height: 80vh;
}

.w3layouts-two-grids {
    width: 75%;
    margin: 0px auto;
}

.mid-class, .main-two-w3ls {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

/*.application{*/
/*    height: 325px;*/
/*}*/


.form-container {
    background-color: rgba(182, 182, 182, 0.09);
    padding: 5px 0px;
    border-radius: 10px;
    margin-bottom: 25px;
}


h1.error {
    text-align: center;
    color: #000;
    text-transform: uppercase;
}

.img-right-side {
    text-align: center;
    flex-basis: 60%;
    -webkit-flex-basis: 60%;
    box-sizing: border-box;
}

.txt-left-side {
    flex-basis: 40%;
    -webkit-flex-basis: 40%;
    box-sizing: border-box;
    text-align: center;
    background: #fff;
    box-shadow: 0px 0px 10px 5px #cccccc;
}

.img-right-side h3, .txt-left-side h2 {
    text-transform: uppercase;
    color: #000;
    letter-spacing: 0px;
}

.img-right-side p {
    font-size: 13.5px;
    color: #908c8c;
    letter-spacing: 0px;
    line-height: 24px;
    margin-bottom: 48px;
}

.form-left-to-w3l {
    display: flex;
    display: -webkit-flex;
    border: none;
    /*border-bottom: 1px solid #a5a2a2;*/
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

/*.v-input label{*/
/*    margin-left:50px;*/
/*}*/



.form-left-to-w3l input[type="text"], .form-left-to-w3l input[type="email"], .form-left-to-w3l input[type="password"] {
    -webkit-flex-basis: 90%;
    flex-basis: 90%;
    width: 100%;
    color: #000;
    border: none;
    /*border-left: 1px solid #a5a2a2;*/
    outline: none;
    -webkit-appearance: none;
    background: transparent;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    box-sizing: border-box;

}



.form-left-to-w3l:hover {
    /*border-bottom: 1px solid #67e878;*/
}

.form-left-to-w3l:hover span {
    color: #67e878;
    border-color: #67e878;
}

.form-left-to-w3l:hover.form-left-to-w3l input[type="email"],
.form-left-to-w3l:hover.form-left-to-w3l input[type="password"],
.form-left-to-w3l:hover.form-left-to-w3l input[type="text"] {
    /*border-left: 1px solid #67e878;*/
}

.form-left-to-w3l span {
    -webkit-flex-basis: 15%;
    flex-basis: 15%;
    border-right: 1px solid #757272;
    text-align: center;
    color: #cccccc;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    margin-bottom: 15px;
    margin-top: 23px;
    margin-right: 10px
}

button[type=submit] {
    background: #67e878;
    outline: none;
    color: #fff;
    font-weight: 600;
    border: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    width: 55%;
    border-radius: 10px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    box-shadow: 0px 0px 8px 0px #60f574;
}

button[type=submit]:hover {
    background-color: #007bff;
}


button[type=submit]:hover, a.for:hover, .w3layouts_more-buttn a:hover {
    opacity: 0.8;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #b7b6b6;

}

::-moz-placeholder { /* Firefox 19+ */
    color: #b7b6b6;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #b7b6b6;
}

:-moz-placeholder { /* Firefox 18- */
    color: #b7b6b6;
}

input.checked {
    position: absolute;
    left: 0px;
    cursor: pointer;
}

.left-side-forget {
    position: relative;
}

.remenber-me, a.for {
    color: #757272;
    letter-spacing: 0px;
    text-transform: capitalize;
}

.remenber-me {
    margin-left: 25px;

}

.left-side-forget, .right-side-forget {
    flex-basis: 50%;
    -webkit-flex-basis: 50%;
    text-align: left;
    box-sizing: border-box;
}

.w3layouts_more-buttn h3 {
    color: #a0a0a0;
    letter-spacing: 0px;
    font-weight: 800;
}

.w3layouts_more-buttn h4 {
    font-size: 18px;
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
    display: inline-block;
    letter-spacing: 0px;
    outline: none;
    cursor: pointer;
}

.w3layouts_more-buttn h4:hover {
    color: #67e878;
}

.create {
    font-size: 13px;
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
    text-transform: capitalize;
    display: inline-block;
}


.copyrigh-wthree {
    text-align: center;
}

.copyrigh-wthree p {
    color: #000;
}

.copyrigh-wthree p a {
    color: #60baaf;
    font-size: 14px;
    font-weight: 800;
}

/*--responsive--*/
@media (max-width: 1920px) {
    h1.error {
        padding-top: 65px;
        margin-bottom: 50px;
        font-size: 55px;
    }

    .img-right-side h3, .txt-left-side h2 {
        font-size: 25px;
        margin-bottom: 15px;
    }

    .remenber-me, a.for {
        font-size: 13px;
    }

    .img-right-side, .txt-left-side {
        padding: 5.5em 5em 3.5em;
    }

    .form-left-to-w3l input[type="text"], .form-left-to-w3l input[type="email"], .form-left-to-w3l input[type="password"] {
        font-size: 16px;
        padding-left: 25px;
    }

    .form-left-to-w3l {
        margin: 0px 0px 0px;
        padding-bottom: 0px;
    }

    .form-left-to-w3l span {
        font-size: 25px;
    }

    .w3layouts_more-buttn h3 {
        font-size: 15px;
    }

    .copyrigh-wthree {
        padding: 2.5em 0em 2em;
    }
}

@media (max-width: 1680px) {
    h1.error {
        padding-top: 58px;
        margin-bottom: 47px;
        font-size: 52px;
    }

    .img-right-side h3, .txt-left-side h2 {
        font-size: 233px;
        margin-bottom: 25px;
    }

    .remenber-me, a.for {
        font-size: 12px;
    }

    .img-right-side, .txt-left-side {
        padding: 0em 4.5em 3em;
    }

    .form-left-to-w3l input[type="text"], .form-left-to-w3l input[type="email"], .form-left-to-w3l input[type="password"] {
        font-size: 15px;
        padding-left: 23px;
    }

    .form-left-to-w3l {
        margin: 0px 0px 35px;
        padding-bottom: 15px;
    }

    .form-left-to-w3l span {
        font-size: 23px;
    }

    .w3layouts_more-buttn h3 {
        font-size: 14px;
    }

    .copyrigh-wthree {
        padding: 2.5em 0em 1.5em;
    }
}

@media (max-width: 1600px) {
    h1.error {
        padding-top: 54px;
        margin-bottom: 43px;
        letter-spacing: 3px;
        font-size: 49px;
    }

    .img-right-side h3, .txt-left-side h2 {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .remenber-me, a.for {
        font-size: 11px;
    }

    /*size of the card here*/
    .img-right-side, .txt-left-side {
        padding: 2em 3.5em 0em;
    }

    .form-left-to-w3l input[type="text"], .form-left-to-w3l input[type="email"], .form-left-to-w3l input[type="password"] {
        font-size: 14px;
        padding-left: 20px;
    }

    .form-left-to-w3l {
        margin: 0px 0px 33px;
        padding-bottom: 14px;
    }

    .form-left-to-w3l span {
        font-size: 21px;
    }

    .w3layouts_more-buttn h3 {
        font-size: 17px;
    }

    .copyrigh-wthree p {
        font-size: 14px;
        letter-spacing: 3px;
    }

    .copyrigh-wthree {
        padding: 2em 0em 1.5em;
    }

    button[type=submit] {
        font-size: 20px;
        padding: 5px 5px;
        margin: 5px 0px 20px;
    }

    .right-side-forget {
        text-align: right;
    }
}

@media (max-width: 1440px) {
    h1.error {
        padding-top: 45px;
        margin-bottom: 34px;
        font-size: 47px;
    }

    .img-right-side h3, .txt-left-side h2 {
        font-size: 21px;
    }

    .img-right-side, .txt-left-side {
        padding: 3em 3.5em 0em;
    }

    .w3layouts-two-grids {
        width: 85%;
    }

    button[type=submit] {
        padding: 13px 17px;
    }
}

@media (max-width: 1366px) {
    .form-left-to-w3l {
        margin: 0px 0px 30px;
        padding-bottom: 13px;
    }

    .img-right-side h3, .txt-left-side h2 {
        margin-bottom: 19px;
    }

    button[type=submit] {
        margin: 50px 0px;
    }
}

@media (max-width: 1280px) {
    h1.error {
        padding-top: 49px;
        margin-bottom: 38px;
        font-size: 43px;
    }

    .img-right-side, .txt-left-side {
        padding: 2.5em 3em 0em;
    }

    .w3layouts-two-grids {
        width: 88%;
    }

    .form-left-to-w3l span {
        font-size: 18px;
    }

    .form-left-to-w3l input[type="text"],
    .form-left-to-w3l input[type="email"],
    .form-left-to-w3l input[type="password"] {

        padding-left: 16px;
    }

    button[type=submit] {
        margin: 47px 0px;
    }

    .img-right-side p {
        margin-bottom: 39px;
    }
}

@media (max-width: 1080px) {
    .copyrigh-wthree p {
        letter-spacing: 2px;
    }

    .img-right-side, .txt-left-side {
        padding: 2.5em 2.5em 0em;
    }

    .form-left-to-w3l {
        margin: 0px 0px 26px;
    }

    .w3layouts-two-grids {
        width: 92%;
    }

    .copyrigh-wthree {
        padding: 2em 0em 1em;
    }

    h1.error {
        font-size: 41px !important;
    }

    .img-right-side h3, .txt-left-side h2 {
        margin-bottom: 22px;
    }

    button[type=submit] {
        font-size: 15px !important;
    }
}

@media (max-width: 1050px) {
    .img-right-side h3, .txt-left-side h2 {
        font-size: 20px !important;
    }

    .img-right-side p {
        margin-bottom: 33px;
    }

    .remenber-me, a.for {
        font-size: 11px !important;
    }

    .w3layouts_more-buttn h3 {
        font-size: 12px !important;
    }

    .w3layouts_more-buttn a {
        font-size: 12px !important;
    }
}

@media (max-width: 1024px) {
    .mid-class {
        flex-direction: column;
    }

    .w3layouts-two-grids {
        width: 53%;
    }

    h1.error {
        padding-top: 47px;
        margin-bottom: 9px;
    }

    .form-left-to-w3l {
        margin: 0px 0px 24px;
        padding-bottom: 11px;
    }

    button[type=submit] {
        margin: 42px 0px;
    }
}

@media (max-width: 991px) {
    h1.error {
        font-size: 38px !important;
    }

    .img-right-side, .txt-left-side {
        padding: 2.3em 2.2em 0em;
    }

    button[type=submit] {
        padding: 14px 20px;
    }
}

@media (max-width: 900px) {
    h1.error {
        padding-top: 45px;
    }

    .form-left-to-w3l span {
        font-size: 16px !important;
    }

    .form-left-to-w3l input[type="text"], .form-left-to-w3l input[type="email"], .form-left-to-w3l input[type="password"] {
        padding-left: 14px;
    }

    button[type=submit] {
        margin: 39px 0px;
    }
}

@media (max-width: 800px) {
    .w3layouts-two-grids {
        width: 58%;
    }

    .img-right-side, .txt-left-side {
        padding: 2em 2em 0em;
    }

}

@media (max-width: 768px) {
    .w3layouts-two-grids {
        width: 61%;
    }

    button[type=submit] {
        font-size: 14px !important;
    }

    .copyrigh-wthree p {
        letter-spacing: 1px;
    }
}

@media (max-width: 767px) {
    h1.error {
        font-size: 36px !important;
        letter-spacing: 2px;
    }

    .img-right-side h3, .txt-left-side h2 {
        margin-bottom: 23px;
    }
}

@media (max-width: 736px) {
    .w3layouts-two-grids {
        width: 64%;
    }

    .img-right-side p {
        margin-bottom: 31px;
    }

    .form-left-to-w3l {
        margin: 0px 0px 21px;
    }
}

@media (max-width: 667px) {
    .w3layouts-two-grids {
        width: 69%;
    }

    h1.error {
        padding-top: 42px;
    }
}

@media (max-width: 640px) {
    .w3layouts-two-grids {
        width: 72%;
    }

    h1.error {
        font-size: 34px !important;
    }

    button[type=submit] {
        margin: 36px 0px;
    }
}

@media (max-width: 600px) {
    .w3layouts-two-grids {
        width: 78%;
    }

    button[type=submit] {
        padding: 12px 20px;
        font-size: 13px !important;
    }
}

@media (max-width: 568px) {
    .w3layouts-two-grids {
        width: 81%;
    }

    .img-right-side, .txt-left-side {
        padding: 1.8em 1.8em 0em;
    }

    .form-left-to-w3l {
        padding-bottom: 9px;
    }
}

@media (max-width: 480px) {
    h1.error {
        font-size: 30px !important;
        padding-top: 38px;
    }

    .w3layouts-two-grids {
        width: 94%;
    }

    .img-right-side h3, .txt-left-side h2 {
        font-size: 19px !important;
    }
}

@media (max-width: 440px) {
    h1.error {
        font-size: 27px !important;
        padding-top: 35px;
        letter-spacing: 1px;
    }

    .copyrigh-wthree p a {
        line-height: 35px;
    }
}

@media (max-width: 414px) {
    button[type=submit] {
        margin: 29px 0px;
    }

    .form-left-to-w3l {
        margin: 0px 0px 21px;
    }
}

@media (max-width: 384px) {
    h1.error {
        font-size: 24px !important;
    }

    .img-right-side, .txt-left-side {
        padding: 1.5em 1.5em 0em;
    }
}

@media (max-width: 375px) {
    .form-left-to-w3l {
        margin: 0px 0px 19px;
        padding-bottom: 7px;
    }

    h1.error {
        font-size: 22px !important;
    }
}

@media (max-width: 320px) {
    .img-right-side h3, .txt-left-side h2 {
        font-size: 17px !important;
    }

    h1.error {
        letter-spacing: 0px;
        font-size: 21px !important;
    }

    .form-left-to-w3l input[type="text"], .form-left-to-w3l input[type="email"], .form-left-to-w3l input[type="password"] {
        font-size: 13px !important;

    }
}
