<template>
    <div class="page" id="page" style="
    background-color: white;
">
        <div class="back-ground bg bg1" style="margin-bottom: 0px">
            <div class="w3layouts-two-grids mt-3">
                <div class="mid-class">
                    <div class="img-right-side editContent">
                        <h3 class=" editContent">Convenience at its best.</h3>
                        <p class=" editContent">Are you having trouble managing bills and other documents? Now get rid
                            of those
                            bundles of papers through a technology at its best. A document scanner, powerful enough to
                            scan all of
                            your documents, store the data and arrange in a structured way.</p>
                        <img alt="" class="img-fluid" src="images/b11.png">
                    </div>

                    <!--          login card start-->


                    <div class="txt-left-side editContent" v-if="!signup">
                        <div class="form-container">
                            <h2 class="editContent"> Login Here! </h2>
                            <v-form
                                lazy-validation
                                ref="loginForm"
                                v-model="loginValid">

                                <div class="form-left-to-w3l editContent"
                                     style="margin-bottom: 0px; margin-right:10px;">

                                    <span aria-hidden="true" class="fa fa-envelope-o"></span>
                                    <v-text-field
                                        :rules="emailRules"
                                        placeholder="E-maill"
                                        required
                                        v-model="loginEmail"
                                    ></v-text-field>
                                    <div class="clear"></div>
                                </div>

                                <div class="form-left-to-w3l editContent"
                                     style="margin-bottom: 0px; margin-right:10px;">
                                    <span aria-hidden="true" class="fa fa-lock"></span>
                                    <v-text-field
                                        :rules="passwordRules"
                                        placeholder="Password"
                                        required
                                        type="password"
                                        v-model="loginPassword"
                                    ></v-text-field>
                                    <div class="clear"></div>
                                </div>

                                <div class="main-two-w3ls mt-3">
                                    <div class="left-side-forget">
                                        <input class="checked ml-2" type="checkbox">
                                        <span class="remenber-me editContent ml-4"
                                              style="font-size: 1.2rem">Remember me </span>
                                    </div>
                                    <div class="right-side-forget">
                                        <a
                                            class="for editContent mr-2"
                                            href="#" style="font-size: 1.2rem"><u>Forgot password?</u></a>
                                    </div>
                                </div>
                                <!--              <div class="btnn">-->
                                <button style="margin:0 0 15px 0" @click.prevent="loginValidate" class="btn mt-4" type="submit">LogIn</button>
                            </v-form>
                            <div class="w3layouts_more-buttn">
                                <h3 class=" editContent" style="margin-top:5px;">Don't Have an account?
                                    <h4
                                        @click="getSignup" class="editContent mt-2"><u>Create an Account.</u>
                                    </h4>
                                </h3>
                            </div>
                            <p class="remenber-me mt-3 mb-4" style="font-size: 1.3rem; color:red;">* Click <span
                                style="text-transform: lowercase;color:black;">on the Login means you will agree to all of our </span>
                                <a href="#">Terms
                                    <span style="text-transform: lowercase;color:black;"> and </span>Conditions</a> . </p>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <!--login card ends-->


                    <!--          signup card starts-->
                    <div class="txt-left-side editContent" v-if="signup">
                        <div class="form-container">
                            <h2 class="editContent"> Sign Up Here! </h2>
                            <template>
                                <v-form
                                    lazy-validation
                                    ref="form"
                                    v-model="valid">


                                    <div class="form-left-to-w3l editContent"
                                         style="margin-bottom: 0px; margin-right:10px;">
                                        <!--                    <div style="border-right:1px solid black; margin-right:10px">-->
                                        <span aria-hidden="true" class="fa fa-user-o"></span>
                                        <v-text-field
                                            :counter="30"
                                            :rules="nameRules"
                                            label="Name"
                                            required
                                            v-model="name"
                                        ></v-text-field>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="form-left-to-w3l editContent"
                                         style="margin-bottom: 0px; margin-right:10px;">

                                        <span aria-hidden="true" class="fa fa-envelope-o"></span>
                                        <v-text-field
                                            :rules="emailRules"
                                            label="E-mail"
                                            required
                                            v-model="email"
                                        ></v-text-field>
                                        <div class="clear"></div>
                                    </div>

                                    <div class="form-left-to-w3l editContent"
                                         style="margin-bottom: 0px; margin-right:10px;">
                                        <!--                    <div style="border-right:1px solid black; margin-right:10px">-->
                                        <span aria-hidden="true" class="fa fa-user-o"></span>
                                        <v-text-field
                                            :rules="companyNameRules"
                                            label="Company Name"
                                            required
                                            v-model="companyName"
                                        ></v-text-field>
                                        <div class="clear"></div>
                                    </div>

                                    <div class="form-left-to-w3l editContent"
                                         style="margin-bottom: 0px; margin-right:10px;">

                                        <span aria-hidden="true" class="fa fa-lock"></span>
                                        <v-text-field
                                            :rules="passwordRules"
                                            label="Password"
                                            required
                                            type="password"
                                            v-model="password"
                                        ></v-text-field>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="form-left-to-w3l editContent"
                                         style="margin-bottom: 0px; margin-right:10px;">

                                        <span aria-hidden="true" class="fa fa-lock"></span>
                                        <v-text-field
                                            :rules="confirmPasswordRules"
                                            label="Confirm Password"
                                            required
                                            type="password"
                                            v-model="confirmPassword"
                                        >
                                        </v-text-field>
                                        <div class="clear"></div>
                                    </div>


                                    <!--                                <div><b-alert show variant="danger">{{errors}}</b-alert>-->
                                    <!--                                </div>-->


                                    <div class="btnn">
                                        <button style="margin:0 0 20px 0" @click.prevent="signUpValidate" class="btn" type="submit">Sign Up
                                        </button>
                                    </div>
                                </v-form>
                            </template>
                            <div class="w3layouts_more-buttn">
                                <h3 class=" editContent" style="margin-top: 0px">Already Have an Account?
                                    <h4 @click="getLogin" class="editContent mt-2"><u>Get Logged In.</u>
                                    </h4>
                                </h3>
                            </div>


                        </div>
                    </div>


                    <!--signup card ends-->


                </div>
            </div>
            <footer class="copyrigh-wthree" style="margin-bottom: 0px;">
                <p>
                    © 2019 <a href="#" target="_blank">docScope</a>
                    All Rights Reserved


                </p>
            </footer>
            <!--            <div><v-app>-->
            <!--            <v-alert type="error">hello</v-alert>-->
            <!--        </v-app></div>-->

            <div class="clear"></div>
        </div>
    </div><!-- /#page -->

</template>


<script>
    export default {
        data() {
            return {
                signup: false,
                valid: true,
                loginValid: true,
                name: '',
                email: '',
                companyName: '',
                password: '',
                confirmPassword: '',
                loginEmail: '',
                loginPassword: '',
                errors: '',
                nameRules: [
                    v => !!v || 'Name is required',
                    v => (v && v.length <= 30) || 'Name must be less than 30 characters',
                ],
                emailRules: [
                    v => !!v || 'E-mail is required',
                    v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
                ],
                companyNameRules: [
                    v => !!v || 'Company Name is required',
                ],
                passwordRules: [
                    v => !!v || 'Password is required',
                    v => (v && v.length >= 5) || 'Password must contain at-least 8 characters'
                ],
            }
        },
        computed: {
            confirmPasswordRules() {
                return [
                    v => !!v || 'Confirm Password is required',
                    () => (this.password === this.confirmPassword) || 'Password must match'
                ];
            }
        },
        methods: {
            getSignup() {
                this.$refs.loginForm.reset()
                this.signup = true
            },
            getLogin() {
                this.$refs.form.reset()
                this.signup = false
            },
            signUpValidate() {
                if (this.$refs.form.validate()) {
                    this.snackbar = true
                    let data = {
                        name: this.name,
                        companyName: this.companyName,
                        email: this.email,
                        password: this.password,
                    }
                    this.$store.dispatch('signUp', data).then(response => {
                        // this.error = response
                        this.$router.go({name:'Dashboard'})
                        this.$refs.form.reset()
                    })
                        .catch(error => {

                        })
                }
            },
            loginValidate() {
                if (this.$refs.loginForm.validate()) {
                    this.snackbar = true
                    let data = {email: this.loginEmail, password: this.loginPassword}
                    this.$store.dispatch('login', data).then(response => {
                        this.$router.go({name:'Dashboard'})
                        this.$refs.loginForm.reset()
                    })
                        .catch(err => {
                            console.log(err.error)
                        })
                }
            },


        },

    }

</script>
<style>

</style>
