<template>
    <div class="container1" id="doc_container" style="position: relative">
        <!--        <div id="document-wrapper">-->
        <div class="image-container"
             id="canvas" style="position: absolute;">
            <v-progress-linear v-if="!Texts.length" style="margin: 0" indeterminate color="blue"
                               height="3"></v-progress-linear>
            <!--            <img src="../../assets/1565029229.jpg" height="1067" width="800" class="cropper-hidden"/>-->

            <img :src="document.image" id="document_image"/>
            <div v-show="field_box.display" class="_1KFqn" id="rt-field-input-box"
                 :style="{minWidth:'160px',top: field_box.top + '%', left: field_box.left+'%', width: field_box.width+'%'}">
                <div class="Lmw48">


                <p></p>
                    <form method="post" autocomplete="off">
                                    <textarea class="textarea"
                                              v-model="field_box_text"></textarea>
                    </form>



                </div>
                <p class="_2xD0-">Description</p>
                <div class="_6f0rp">
                    <button class="unstyled-btn _1t8MY">
                        <svg viewBox="0 0 24 24">
                            <path
                                    d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
                                    fill="currentColor" fill-rule="evenodd"></path>
                        </svg>
                    </button>
                    <button class="unstyled-btn _1t8MY _2Gln1" @click="updateInfo">
                        <svg viewBox="0 0 24 24">
                            <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4z" fill="currentColor"
                                  fill-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
            </div>

        </div>

        <!--        </div>-->

    </div>

</template>
<script>
    import {mapGetters} from 'vuex'
    // import {jsPlumb} from 'jsplumb'

    let cropper = '';
    let plumb = ''
    let debounce = true;
    export default {
        data() {
            return {

                canvas_height: '',
                canvas_width: '',
                imageSrc: '',
                height: 0,
                width: 0,
                selectedText: [],
                field_box_type:''
            }
        },

        props: ['document'],
        watch: {
            "field_box.text"(val) {
                this.updateField(val)
            },
            selectedField(value) {
                console.log("heylloo")
               this.field_box_type= document.getElementById(this.selectedField).parentElement.previousElementSibling.innerHTML
                // console.log($('#'+value).siblings())
                setTimeout(timeout => {
                    this.showConnector()
                }, 0)

            }
            // Texts(text) {
            //     // this.drawImage();
            //     // this.height = this.imageHeight
            //     // this.width = this.imageWidth
            //     this.plot();
            //     // this.$Progress.finish()
            //
            //
            // }
        },
        computed: {
            ...mapGetters(['Texts', 'ModifiedTexts', 'imageWidth', 'imageHeight', 'companyDetails', 'imageFilename', 'selectedField', 'field_box']),
            field_box_text: {
                set(field_box_text) {
                    this.$store.commit('setFieldBoxText',field_box_text)
                },
                get() {
                    return this.field_box.text

                }
            }
            // imageSrc(){
            //  return './storage/uploads/documents/'+this.companyDetails.id+'/'+this.imageFilename
            // }
            // canvas_height() {
            //     if (this.$refs.canvas)
            //         console.log('dfd')
            //         // return this.$refs.canvas.clientHeight
            // },
            // canvas_width() {
            //     if (this.$refs.canvas)
            //         return this.$refs.canvas.clientWidth
            // },
        },
        methods: {
            // textAreaAdjust(o) {
            //     o.style.height = "1px";
            //     o.style.height = (25 + o.scrollHeight) + "px";
            // },
            textCenter(point1, point3) {
                //plot top horizontal line
                let x = (point1[0] + point3[0]) / 2;
                let y = (point1[1] + point3[1]) / 2;
                return [x, y];
            },

            placeText(text, point1, point2, point3, point4) {
                var a = point1[0] - point2[0];
                var b = point1[1] - point2[1];

                var text_width = Math.sqrt(a * a + b * b);
                var c = point1[0] - point4[0];
                var d = point1[1] - point4[1];

                var text_height = Math.sqrt(c * c + d * d);
                var div = document.createElement('div');
                div.setAttribute('data-text', text.text);
                div.setAttribute('data-x', point1[0]);
                div.setAttribute('data-y', point1[1]);
                div.setAttribute('data-height', (point3[1] - point2[1]));
                div.setAttribute('data-width', point2[0] - point1[0]);
                div.style.border = '2px dashed rgb(142, 146, 149,0.6)';
                div.style.position = 'absolute'
                div.style.top = point1[1].toString(10) + '%'
                div.style.left = point1[0].toString(10) + '%'
                div.style.height = text_height.toString(10) + '%'
                div.style.width = text_width.toString(10) + '%'
                div.setAttribute('class', 'image-text')
                var canvas = document.getElementById("canvas");
                canvas.appendChild(div);
            },
            plot() {
                let vm = this;
                this.canvasCrop(this.Texts);
                console.log(this.Texts);
                let res_width = this.document.image_size[0];
                let res_height = this.document.image_size[1];
                this.ModifiedTexts.map(text => {
                    // this.drawBox(text.bounds[0], text.bounds[1], text.bounds[2], text.bounds[3])
                    // console.log(this.drawBox(text.bounds[0], text.bounds[1], text.bounds[2], text.bounds[3]).offsetLeft)

                    let point1 = [
                        (text.bounds[0][0] / res_width) * 100,
                        (text.bounds[0][1] / res_height) * 100
                    ]
                    let point2 = [
                        (text.bounds[1][0] / res_width) * 100,
                        (text.bounds[1][1] / res_height) * 100
                    ]
                    let point3 = [
                        (text.bounds[2][0] / res_width) * 100,
                        (text.bounds[2][1] / res_height) * 100
                    ]
                    let point4 = [
                        (text.bounds[3][0] / res_width) * 100,
                        (text.bounds[3][1] / res_height) * 100
                    ]
                    // this.placeText(text, text.bounds[0], text.bounds[1], text.bounds[2], text.bounds[3])
                    this.placeText(text, point1, point2, point3, point4)
                })


                $('.image-text').mouseover(function (event) {
                    var target = $(event.target);
                    // console.log(target)
                    var text = target.text();
                    if (target.is(".image-text")) {
                        // alert('The mouse was over' + text);
                        target.css('border', '2px dashed rgb(27, 144, 212)')
                    }
                }).mouseleave(function (event) {
                    var target = $(event.target);
                    if (target.is(".image-text")) {
                        target.css('border', '2px dashed rgb(142, 146, 149,0.6)')
                        // target.css('visibility','visible')
                    }
                }).click((event) => {
                    var target = $(event.target);
                    console.log(target)
                    if (target.is(".image-text")) {
                        let text = target.attr('data-text')
                        let res_width = vm.document.image_size[0];
                        let res_height = vm.document.image_size[1];
                        let x = (parseFloat(target.attr('data-x')) / 100) * res_width
                        let y = (parseFloat(target.attr('data-y')) / 100) * res_height
                        let height = (parseFloat(target.attr('data-height')) / 100) * res_height
                        let width = (parseFloat(target.attr('data-width')) / 100) * res_width
                        setTimeout(() => {
                            cropper.setData({"x": x, "y": y, "width": width, "height": height})
                            // target.css('visibility','hidden')
                            // setTimeout(timeout => {
                                this.showConnector()
                            // }, 0)

                            //     // if (target.is())
                        },0)
                    }});
                this.field_box_type="Invoice No."


            },

            canvasCrop(texts) {
                let vm = this;

                var image = document.querySelector('.image-container > img');
                cropper = new Cropper(image, {
                    data: {
                        x: 0,
                        y: 0,
                        height: 0,
                        width: 0,
                    },
                    crop(event) {
                        console.log('cropping')
                        let res_width = vm.document.image_size[0];
                        let res_height = vm.document.image_size[1];
                        let x = event.detail.x;
                        console.log('x:' + x)
                        let y = event.detail.y;
                        console.log('y:' + y)

                        let height = event.detail.height;
                        let width = event.detail.width;
                        let top_left = [x, y];
                        let top_right = [x + width, y];
                        let bottom_right = [x + width, y + height];
                        let bottom_left = [x, y + height];

                        let crop_box = [top_left, bottom_right]
                        var target = $(event.target)
                        // var target = $(event.target);
                        // console.log(target)
                        // if(target.is($('.cropper-drag-box'))){
                        //     // cropper.clear()
                        // }
                        // target.css('visibility','hidden')
                        // console.log(crop_box);
                        let cropbox_text = ''
                        texts.forEach(text => {
                            let text_center = vm.textCenter(text.bounds[0], text.bounds[2])
                            let text_center_x = (text_center[0] / res_width) * 100;
                            let text_center_y = (text_center[1] / res_height) * 100;
                            if ((crop_box[0][0] / res_width) * 100 <= text_center_x && text_center_x <= (crop_box[1][0] / res_width) * 100 && (crop_box[0][1] / res_height) * 100 <= text_center_y && text_center_y <= (crop_box[1][1] / res_height) * 100) {
                                // Point is in bounding box
                                cropbox_text += ' ' + text.text;
                            }
                        })
                        // console.log(cropbox_text);
                        let field_box = {
                            display: true,
                            text: cropbox_text,
                            left: (x / res_width) * 100,
                            width: (width / res_width) * 100,
                            top: (y / res_height) * 100 + (height / res_height) * 100,
                        }
                        vm.$store.commit('updateFieldBox', field_box)
                        // vm.field_box.text = cropbox_text;
                        // vm.field_box.left = (x / res_width) * 100
                        // vm.field_box.width = (width / res_width) * 100
                        // vm.field_box.top = (y / res_height) * 100 + (height / res_height) * 100;
                        // console.log('x:' + x)
                        // console.log('width:' + width)
                        // // if (x > 100) {
                        // console.log('greater')
                        if (debounce) {
                            console.log('debouncer')
                            debounce = false
                            setTimeout(() => {
                                vm.showConnector()
                            }, 100)
                            debounce =true
                        }




                        // }








                    },

                    // cropstart(event) {
                    //     console.log("crop end start")
                    //
                    //
                    //     console.log("crop end")
                    //
                    //     },


                    viewmode: 3,
                    movable: false,
                    zoomable: false,
                    rotatable: false,
                    scalable: false,
                    guides: false,     // Show the dashed lines for guiding
                    center: false,
                    autocrop: true,
                    background: false
                });

            },
            showConnector() {
                // console.log($('event.target'))
                let vm = this;
                console.log('showConnector')
                // console.log(val)
                this.field_box.display = true

                // console.log('height:' + height)

                jsPlumb.ready(function () {
                    if (plumb) {
                        console.log('exists')
                        // plumb.repaintEverything()

                        plumb.reset()
                        plumb = null;

                        initConnection()
                        // p = jsPlumb.getInstance();
                        // plumb.importDefaults({
                        //     Container: "review_container",
                        //     ConnectionDetachable: true,
                        //     Connector: ["Straight", {stub: [100, 0], gap: [0, 0]}],
                        //     Endpoint: ["Dot", {radius: 4}],
                        //     EndpointStyle: {fill: "#1dafec"},
                        //     Anchors: ["Right", "TopLeft"],
                        //     // PaintStyle: {
                        //     //     strokeWidth: 3,
                        //     //     stroke: "#4d85a8",
                        //     //     outlineWidth: 1
                        //     // },
                        //     PaintStyle: {lineWidth: 2, strokeStyle: "#4d85a8", outlineWidth: 1},
                        //
                        // });
                        // // plumb.Defaults.Anchor = 'Center';
                        // // plumb.Defaults.Container = 'container';
                        // // plumb.setId($('#sidebar-section-field-1001001'), 'newId')
                        //
                        // plumb.connect({source: vm.selectedField, target: $('.point-nw')});
                    } else {
                        console.log('creating')
                        initConnection()

                    }

                    function initConnection() {
                        plumb = jsPlumb.getInstance();
                        plumb.importDefaults({
                            Container: "review_container",
                            ConnectionDetachable: true,
                            Connector: ["Straight", {stub: [100, 0], gap: [0, 0]}],
                            Endpoint: ["Dot", {radius: 4}],
                            EndpointStyle: {fill: "#1dafec"},
                            Anchors: ["Right", "TopLeft"],
                            // PaintStyle: {
                            //     strokeWidth: 3,
                            //     stroke: "#4d85a8",
                            //     outlineWidth: 1
                            // },
                            PaintStyle: {lineWidth: 2, strokeStyle: "#4d85a8", outlineWidth: 1},

                        });
                        // plumb.Defaults.Anchor = 'Center';
                        // plumb.Defaults.Container = 'container';
                        // plumb.setId($('#sidebar-section-field-1001001'), 'newId')

                        plumb.connect({source: vm.selectedField, target: $('.point-nw')});
                    }

                    $("#content-wrapper").scroll(function () {
                        console.log('scrolling')
                        if (plumb && debounce) {
                            debounce = false
                            setTimeout(() => {
                                plumb.repaintEverything();
                            }, 100)

                            debounce = true

                        }

                    });
                    $("#rt-sidebar-content").scroll(function () {
                        console.log('scrolling')
                        if (plumb && debounce) {
                            debounce = false
                            setTimeout(() => {
                                plumb.repaintEverything();
                            }, 0)
                            debounce = true
                        }

                    });

                    // $('.cropper-drag-box').click((e) => {
                    //     e.stopPropagation()
                    //     var target = $(event.target);
                    //     console.log(target)
                    //     if (!target.is('.image-text')) {
                    //         console.log('destroy')
                    //         // cropper.setData({"x": 0, "y": 0, "width": 0, "height": 0})
                    //         vm.field_box.text = ''
                    //         cropper.clear()
                    //         // if (p)
                    //         //     plumb.reset()
                    //         // vm.field_box.display = false
                    //
                    //     }
                    // })
                });

            },
            updateField(value) {

                // var document.querySelector(this.selectedField)
                document.getElementById(this.selectedField).value = value

                //  $('#this.selectedField').val("lue")
                // document.getElementById(this.selectedField).text=this.field_box.text


                // let selected_model = 'invoice_name'
                // switch (selected_model) {
                //     case "invoice_name":
                //         this.document.basic_info.invoice_no = value
                //         break;
                //
                //     default:
                //         break
                // }
                // this.document.basic_info
            },
            updateInfo(){
                // console.log(this.$refs.invoice_no)


            }

        },
        beforeRouteLeave (to, from , next) {
            const answer = window.confirm('Do you really want to leave? you have unsaved changes!')
            if (answer) {
                next()
            } else {
                next(false)
            }
        },
        async mounted() {
            // window.addEventListener('DOMContentLoaded', function () {
            //     var image = document.querySelector('.image-container > img');
            //     var cropper = new Cropper(image, {
            //         movable: false,
            //         zoomable: false,
            //         rotatable: false,
            //         scalable: false
            //     });
            //     //
            //     // document.getElementById('replace').onclick = function () {
            //     //     cropper.replace('../assets/img/picture-2.jpg');
            //     // };
            // });
            // console.log(this.$route.params.id)
            await this.$store.dispatch('getText', this.$route.params.id)
            this.plot()
            // this.canvas_height = this.$refs.canvas.clientHeight
            // this.canvas_width = this.$refs.canvas.clientWidth
            // $(window).resize(() => {
            //     console.log('resizing')
            //     this.canvas_height = this.$refs.canvas.clientHeight
            //     this.canvas_width = this.$refs.canvas.clientWidth
            // })

        }

    }

</script>
<style>
    .container1 {
        /*max-width: 960px;*/
        margin: 20px auto;
        width: 70%;
        /*height: 500px;*/
        /*overflow-y: scroll;*/
        /*overflow-x: hidden ;*/
        /*overflow: auto;*/
        /*padding-bottom: 25%;*/

    }

    .image-container {
        width: 100% !important;
        margin-top: 10px;
    }

    .image-container > img {
        width: 100% !important;
        height: auto;
        /*margin-top: 10px;*/
        overflow: scroll;
        scroll-behavior: smooth;
    }

    .cropper-hidden {
        display: none !important;
    }

    .cropper-point.point-se {
        height: 5px;
        width: 5px;
    }

    #digital-image {
        /*height: 100%;*/
        /*position: absolute;*/
        /*width: 80%;*/
        /*height: 80%;*/
        /*margin-left: 10%;*/
        /*padding-bottom: 20%;*/
        /*overflow-y: scroll;*/
        /*overflow-x: hidden;*/
        display: flex;
        position: absolute;
        left: 40%;
        right: 0;
        top: 0;
        padding: 20px 0 0 20px
    }

    #document-wrapper {
        max-width: 100%;
        width: 100%;
        display: flex;
        flex: 1 1;
        flex-basis: 0;
        /*flex-direction: column;*/
        align-items: center;
        overflow: scroll;
        scroll-behavior: smooth;
        /*padding-right: 20px;*/
    }

    #document {
        background: #fff;
        box-shadow: 0 6px 10px rgba(95, 95, 95, .5);
        position: relative;
        margin: 0 auto;
    }

    .point-e, .point-n, .point-w, .point-s {
        display: none;
    }

    @media (min-width: 768px) {
        .cropper-point.point-se {
            height: 5px;
            width: 5px;
        }
    }

    .cropper-crop {
        cursor: default;
    }

    .cropper-modal {
        background: transparent;
    }

    .resize-container {
        position: relative;
        display: inline-block;
        cursor: move;
        margin: 0 auto;
    }

    .lds-facebook {
        display: inline-block;
        position: relative;
        top: 50%;
        width: 64px;
        height: 64px;
    }

    .lds-facebook div {
        display: inline-block;
        position: absolute;
        left: 6px;
        width: 13px;
        background: #fff;
        animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    }

    .lds-facebook div:nth-child(1) {
        left: 6px;
        animation-delay: -0.24s;
    }

    .lds-facebook div:nth-child(2) {
        left: 26px;
        animation-delay: -0.12s;
    }

    .lds-facebook div:nth-child(3) {
        left: 45px;
        /*animation-delay: 0;*/
    }

    @keyframes lds-facebook {
        0% {
            top: 6px;
            height: 51px;
        }
        50%, 100% {
            top: 19px;
            height: 26px;
        }
    }

    .jtk-surface {
        overflow: hidden !important;
        position: relative;
        cursor: move;
        cursor: -moz-grab;
        cursor: -webkit-grab;
        touch-action: none;
    }

    .jtk-surface-nopan {
        overflow: scroll !important;
        cursor: default;
    }

</style>
