<template>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content container-fluid">
<!--<ReviewSidebar></ReviewSidebar>-->
<h1>Some Analytics Here.</h1>            <!--------------------------
              | Your Page Content Here |
              -------------------------->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</template>

<script>

    export default {
        name: 'Home',
    }
</script>
