<template>
        <v-app>
            <Authentication></Authentication>
        </v-app>

</template>

<script>
    import Authentication from '../views/Authentication.vue'
    export default {
        name: 'Home',
        components: {
            Authentication
        }
    }
</script>
