<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <div>
        <v-data-table
                :headers="headers"
                :fixed-header=true
                :items="Receipts"
                sort-asc="true"
                :items-per-page="10"
                class="elevation-1"

        >
            <template v-slot:items="props">
                <receipt :receipt="props.item" :index="props.index"></receipt>
            </template>
        </v-data-table>

        <div class="img-viewer" v-if="Loaded"
             style="position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 1050; overflow: hidden auto; text-align: center; background: rgba(0, 0, 0, 0.5); cursor: pointer;">
            <div style="display: inline-block; height: 100%; vertical-align: middle;">

            </div>

            <div role="dialog" id="react-aria-modal-dialog" aria-label="Preview" tabindex="-1"
                 style=" position:relative; display: inline-block; text-align: left; top: 0px; max-width: 100%; cursor: default; outline: 0px; vertical-align: middle;">

                <div style="position: absolute; width: 0px; height: 0px; visibility: hidden; display: none;"></div>

                <img :src="image" style="max-width:349px;max-height:500px;">
                <i class="fa fa-window-close" style="font-size:24px;bottom:10%;cursor:pointer; position: absolute;right:5px; top:5px"
                   @click="closeImageViewer"></i>
            </div>
        </div>


    </div>
</template>

<script>
    import Receipt from './Receipt.vue'
    import axios from 'axios'
    import {mapGetters} from 'vuex'

    export default {
            components: {
            Receipt
        },
        // props:{receipts},
        name: 'Receipts',
        data: function () {
            return {
                pagination: {},
                loaded: true,
                headers: [
                    {
                        text: '',
                        sortable: false,
                        value: '',
                        width: "1%"
                    },
                    {
                        text: 'Name', value: 'name', sortable: false,
                        width: "30%",align:'center'
                    },
                    {
                        text: 'Type', value: 'type', sortable: false,
                        width: "5%"
                    },
                    {
                        text: 'Created On', value: 'created_at', SortAsc:true,
                        width: "5%"
                    },
                    {
                        text: '', value: '', sortable:false,
                        width: "1%"
                    },
                    {
                        text: 'Status', value: '', sortable: false,
                        width: "5%"
                    },
                    {
                        text: 'Action', value: 'action', sortable: false,
                        width: "15%", align:"center"
                    }
                ],
                items: []


            }
        },

        methods: {

            closeImageViewer() {
                this.$store.commit('closeImage')
            }
        },
        computed: {
            ...mapGetters([
                'Receipts', 'receiptImage', 'Loaded', 'companyDetails'
            ]),
            image() {
                return '/storage/uploads/documents/' + this.companyDetails.id + '/' + this.receiptImage.filename
            }
            // pages() {
            //   if (this.pagination.rowsPerPage == null ||
            //     this.pagination.totalItems == null
            //   ) return 0
            //
            //   return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
            // }
        },

    }

</script>

