<template>
    <tr>
        <td style="width:200px"><i class="fa fa-file-text-o" style="font-size: 18px;cursor:pointer;color:#5977ad"></i>
        </td>
        <td class="text-xs-left">{{receipt.name}}</td>
        <!--        <td class="text-xs-left">{{receipt.filename}}</td>-->
        <td class="text-xs-center">{{receipt.type}}</td>
        <td class="text-xs-center">{{receipt.created_at}}</td>
        <td class="text-xs-center">
            <div id="dot-loader" v-if="receipt.status==='Processing'">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <i class="fa fa-check" aria-hidden="true" style="font-size: 18px;color:#365e86"
               v-if="receipt.status==='Processed'"></i>
            <i class="fa  fa-pencil-square-o" style="font-size: 18px;color:#365e86"
               v-if="receipt.status==='Reviewing'"></i>
            <i class="fa  fa-star" style="font-size: 18px;color:#365e86"
               v-if="receipt.status==='Reviewed'"></i>

        </td>
        <td>{{receipt.status}}</td>
        <td class="text-xs-right">
            <i class="fa fa-eye" aria-hidden="true" style="font-size: 18px;cursor:pointer;color:#5977ad"
               data-toggle="tooltip" data-placement="top" title="View"
               @click="viewImage(receipt)">&nbsp; | &nbsp;</i>
            <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size: 18px;cursor:pointer;color:#5977ad"
               title="Review" @click="reviewImage(receipt)" :disabled="!receipt.status=='Processing'">&nbsp; |
                &nbsp;</i>
            <i class="fa fa-trash" title="Delete" aria-hidden="true"
               style="font-size: 18px;cursor:pointer;color:#5977ad" :disabled="receipt.status=='Processed'"
               @click="deleteReceipt(receipt)">&nbsp; | &nbsp;</i>
        </td>

    </tr>
</template>

<script>
    export default {
        name: 'Receipt',
        props: ['receipt', 'index'],
        data() {
            return {}
        },
        methods: {
            viewImage(payload) {
                this.$store.commit('setReceiptImage', payload)
            },
            deleteReceipt(payload) {
                this.$store.dispatch('deleteReceipt', payload.id)
            },
            reviewImage(payload) {
                this.$router.push('document/' + payload.id + '/review')
                // this.$store.dispatch('changeStatus',payload)
            },

        },
        computed: {},


        mounted() {
        }
    }
</script>
<style>
    .size {
        width: 300px;
    }

    #dot-loader {
        position: relative;
        margin: 0 auto;
        width: 25px;
        height: 5px;
        color:#365e86;
    }

    #dot-loader div {
        width: 0.5rem;
        height: 0.5rem;
        background: #365e86;
        border-radius: 50%;
        display: inline-block;
        animation: slideDotLoader 1s infinite;
    }

    #dot-loader div:nth-child(1) {
        animation-delay: .1s;
    }

    #dot-loader div:nth-child(2) {
        animation-delay: .2s;
    }

    #dot-loader div:nth-child(3) {
        animation-delay: .3s;
    }

    #dot-loader div:nth-child(4) {
        animation-delay: .4s;
    }

    #dot-loader div:nth-child(5) {
        animation-delay: .5s;
    }

    @keyframes slideDotLoader {
        0% {
            transform: scale(1);
        }
        50% {
            opacity: .3;
            transform: scale(2);
        }
        100% {
            transform: scale(1);
        }
    }

    .tableWidth {
        max-width: 250px;
    }

</style>
