<template>
    <!-- Content Wrapper. Contains page content -->
    <div>
        <div class="content-wrapper">

            <!-- Main content -->
            <section class="content container-fluid">

                <!--------------------------
                  | Your Page Content Here |
                  -------------------------->
                <!--            {{$route.name}}({{$route.path}})-->
                <!--<strong><em>DOCUMENTS</em></strong>-->

          <Receipts></Receipts>

<!--                <uploader></uploader>-->
            </section>
            <!-- /.content -->
        </div>
    </div>
    <!-- /.content-wrapper -->
</template>

<script>
    import Receipts from './Receipts.vue'
    import uploader from "./uploader"
    import {mapGetters} from 'vuex'
    export default {
        name: 'Home',
        components: {uploader, Receipts},
        data(){
            return{

            }
        },
        computed:{

        },
        mounted() {
            let data={status:"Reviewing"}
            this.$store.dispatch('getReceipts',data)
        }
    }
</script>
