<template>
    <div>
        <div class="floating-component" >
            <span class="clear-list" v-if="showClick" @click="clearUploaderList" style="color:black">Clear List</span>
            <i class="fa fa-angle-double-up" style="font-size:24px;float:right;margin-right:2%;cursor:pointer;"
               @click="showUploaderList" v-if="scrollShow"></i>
            <i class="fa fa-angle-double-down" style="font-size:24px;float:right;margin-right:2%;cursor:pointer;"
                                                         @click="hideUploaderList" v-if="scrollHide"></i>


            <ejs-uploader :asyncSettings="path" :removing="onRemove" :success="onUploadSuccess" :uploading="onUploading"
                          id='defaultfileupload'
                          name="UploadFiles" ref="uploadObj"></ejs-uploader>

        </div>
    </div>
</template>
<script>
    import Vue from 'vue';
    import {mapGetters} from 'vuex'
    import {UploaderPlugin, SelectedEventArgs} from '@syncfusion/ej2-vue-inputs';
    import {createElement} from '@syncfusion/ej2-base';
    import moment from 'moment'

    const baseUrl = process.env.MIX_APP_URL

    Vue.use(UploaderPlugin);
    const auth = {
        headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}
    }
    export default {
        data: function () {
            return {

                    scrollHide:false,
                    scrollShow:false,
                    showClick:false,

                path: {
                    saveUrl: `${baseUrl}/api/document`,
                },

            }

        },
        computed: {
            ...mapGetters(['Receipts']),
        },
        methods: {
            onUploading(args) {
                if (args) {
                    args.currentRequest.setRequestHeader('Authorization', localStorage.getItem('token'))
                    this.scrollHide=true
                    this.showClick=true
                }
            },

            onUploadSuccess: function (args) {
                let receipt = JSON.parse(args.e.currentTarget.response)
                this.$store.commit('add_new_receipt', receipt)
                $('.e-file-delete-btn').remove();
                // var liElements = document.getElementsByClassName('e-upload')[0]
                // console.log(liElements)

            },

            hideUploaderList() {
                $('.e-upload-file-list').hide();
                this.scrollShow=true
                this.scrollHide=false
                this.showClick=false

            },
            showUploaderList() {
                $('.e-upload-file-list').show();
                this.scrollShow=false
                this.scrollHide=true
                this.showClick=true

            },
            clearUploaderList(){
                $('.e-upload-file-list').remove();
                this.showClick = false
                this.scrollShow = false
                this.scrollHide = false

            },
           onRemove(args) {
       let removeFile = [];
            removeFile.push(args.filesData);

    }

        },
        created() {
            // bus.$on('browse-item',()=>console.log("Event fired"))
        }
    }
</script>
<style>
    @import "~@syncfusion/ej2-base/styles/material.css";
    @import "~@syncfusion/ej2-buttons/styles/material.css";
    @import "~@syncfusion/ej2-vue-inputs/styles/material.css";


</style>
<style lang="sass">
    .floating-component
        position: fixed
        bottom: 10px
        right: 10px
        width: 365px
        z-index: 1000
        background: #fff
        border-radius: 5px
        box-shadow: 0 2px 4px hsla(0, 0%, 42.7%, .5)
        max-height: 400px
        overflow: auto
            color: red


        .clear-list
            float: right
            text-decoration: underline
            cursor: pointer

            &:hover

</style>
