<template>
    <div>
        <aside id="rt-sidebar" class="VoUG-">
            <header class="M8okG"><h1 class="ellipsis _3y7wX">
                {{document.name}}
            </h1></header>

            <main class="_3JO_L" id="rt-sidebar-content">
                <div>
                    <div class="_2rAcL">
                        <div class="_3V-YK">
                            <i class="fa fa-info-circle" style="font-size: 20px"></i>
                            <h2 class="ellipsis p6tU- mt-3">Basic Information</h2>
                        </div>

                        <div class="_2GSvV">
                            <label id="sidebar-section-field-1001001" class="pwuv5"
                                                   tabindex="0" >
                            <div class="_3gzy3">
                                <i class="fa fa-pencil" style="font-size: 14px;color:white"></i>

                            </div>

                            <p class="ellipsis -ZXY5 mt-3">Invoice Number</p>
                            <div class="_2-iHh">
                                <input @click="addSelectedField"
                                id="sidebar-field-input-1001001" ref="invoice_no" type="text" class="T_tt1" tabindex="-1"
                                autocomplete="off" v-model="document.basic_info.invoice_no" @keyup="updateBasicInfo(document.basic_info)">
                            </div>
                        </label><label id="sidebar-section-field-1001002" class="pwuv5" tabindex="0">
                            <div class="_3gzy3">
                                <i class="fa fa-pencil" style="font-size: 14px;color:white"></i>
                            </div>
                            <p class="ellipsis -ZXY5 mt-3">Issue Date</p>
                            <div class="_2-iHh"><input @click="addSelectedField"
                                id="sidebar-field-input-1001002" type="text" class="T_tt1" tabindex="-1"
                                autocomplete="off" v-model="document.basic_info.date" @keyup="updateBasicInfo(document.basic_info)"></div>
                        </label><label id="sidebar-section-field-1001003" class="pwuv5" tabindex="0">
                            <div class="_3gzy3">
                                <i class="fa fa-pencil" style="font-size: 14px;color:white"></i>

                            </div>
                            <p class="ellipsis -ZXY5 mt-3">Organization Name</p>
                            <div class="_2-iHh"><input
                                @click="addSelectedField" id="sidebar-field-input-1001003" type="text" class="T_tt1" tabindex="-1"
                                autocomplete="off" v-model="document.basic_info.organization_name" @keyup="updateBasicInfo(document.basic_info)"></div>
                        </label><label id="sidebar-section-field-1001004" class="pwuv5" tabindex="0">
                            <div class="_3gzy3">
                                <i class="fa fa-pencil" style="font-size: 14px;color:white"></i>
                            </div>
                            <p class="ellipsis -ZXY5 mt-3">Address</p>
                            <div class="_2-iHh"><input
                                @click="addSelectedField" id="sidebar-field-input-1001005" type="text" class="T_tt1" tabindex="-1"
                                autocomplete="off" v-model="document.basic_info.address" @keyup="updateBasicInfo(document.basic_info)"></div>
                        </label>
                            <label id="sidebar-section-field-1001005" class="pwuv5" tabindex="0">
                                <div class="_3gzy3">
                                    <i class="fa fa-pencil" style="font-size: 14px;color:white"></i>
                                </div>
                                <p class="ellipsis -ZXY5 mt-3">Total</p>
                                <div class="_2-iHh"><input
                                    @click="addSelectedField" id="sidebar-field-input-1001006" type="text" class="T_tt1" tabindex="-1"
                                    autocomplete="off" v-model="document.basic_info.total" @keyup="updateBasicInfo(document.basic_info)"></div>
                            </label>
                            <label id="sidebar-section-field-1001006" class="pwuv5" tabindex="0">
                                <div class="_3gzy3">
                                    <i class="fa fa-pencil" style="font-size: 14px;color:white"></i>
                                </div>
                                <p class="ellipsis -ZXY5 mt-3">Sub-Total</p>
                                <div class="_2-iHh"><input
                                    @click="addSelectedField" id="sidebar-field-input-1001004" type="text" class="T_tt1" tabindex="-1"
                                    autocomplete="off" v-model="document.basic_info.sub_total" @keyup="updateBasicInfo(document.basic_info)"></div>
                            </label>


                        </div>
                    </div>


                    <div class="_2rAcL">
                        <div class="_3V-YK">
                            <i class="fa fa-info-circle" style="font-size: 20px"></i>

                            <h2 class="ellipsis p6tU- mt-3">Seller Detail</h2></div>
                        <div class="_2GSvV"><label id="sidebar-section-field-1002001" class="pwuv5"
                                                   tabindex="0">
                            <div class="_3gzy3">
                                <i class="fa fa-pencil" style="font-size: 14px;color:white"></i>

                            </div>
                            <p class="ellipsis -ZXY5 mt-3">Name</p>
                            <form method="post" autocomplete="off" class="_2-iHh"><input @click="addSelectedField" @keyup="updateBasicInfo(document.basic_info)"
                                id="sidebar-field-input-1002001" type="text" class="T_tt1" tabindex="-1"
                                autocomplete="off" value=""></form>
                        </label><label id="sidebar-section-field-1002002" class="pwuv5" tabindex="0">
                            <div class="_3gzy3">
                                <i class="fa fa-pencil" style="font-size: 14px;color:white"></i>

                            </div>
                            <p class="ellipsis -ZXY5 mt-3">Address</p>
                            <form method="post" autocomplete="off" class="_2-iHh"><input @click="addSelectedField" @keyup="updateBasicInfo(document.basic_info)"
                                id="sidebar-field-input-1002002" type="text" class="T_tt1" tabindex="-1"
                                autocomplete="off" value=""></form>
                        </label>
                            <label id="sidebar-section-field-1002003" class="pwuv5" tabindex="0">
                                <div class="_3gzy3">
                                    <i class="fa fa-pencil" style="font-size: 14px;color:white"></i>
                                </div>
                                <p class="ellipsis -ZXY5 mt-3">GST/ VAT Number</p>
                                <form method="post" autocomplete="off" class="_2-iHh"><input @click="addSelectedField" @keyup="updateBasicInfo(document.basic_info)"
                                    id="sidebar-field-input-1002003" type="text" class="T_tt1" tabindex="-1"
                                    autocomplete="off" value=""></form>
                            </label>

                            <label id="sidebar-section-field-1002004" class="pwuv5" tabindex="0">
                                <div class="_3gzy3">
                                    <i class="fa fa-pencil" style="font-size: 14px;color:white"></i>
                                </div>
                                <p class="ellipsis -ZXY5 mt-3">Contact Info</p>
                                <form method="post" autocomplete="off" class="_2-iHh"><input @click="addSelectedField" @keyup="updateBasicInfo(document.basic_info)"
                                    id="sidebar-field-input-1002004" type="text" class="T_tt1" tabindex="-1"
                                    autocomplete="off" value=""></form>
                            </label>

                        </div>
                    </div>


                    <div class="_2rAcL">
                        <div class="_3V-YK">
                            <i class="fa fa-server"></i>


                            <h2 class="ellipsis p6tU- mt-2">Line Items</h2></div>
                    </div>

                    <div class="line" style="display: inline-block;background-color: #5977ad;height: auto;width: 815px;margin-bottom: 10px;">
                        <div style="display: inline-block;margin-left:10px; margin-top: 10px" v-for="heading in headings">
                            <p class="ml-4 mr-4" style="font-size:15px;color:white"><strong>{{heading}}</strong></p>

                        </div>
                        <i class="fa fa-plus" style="font-size: 20px;color:white;cursor:pointer;" @click="addRow"></i>

                <p></p>
                        <div :id="index" class="hello" v-for="(line_item, index) in document.line_items" :key="index">
                            <input  :id="'name'+index" type="text" @click="addSelectedField" v-model="line_item.name" @keyup="updateLineItem(line_item)">
                            <input @click="addSelectedField" :id="'product_code'+index" type="text" v-model="line_item.product_code" @keyup="updateLineItem(line_item)">
                            <input @click="addSelectedField" :id="'quantity'+index" type="text" v-model="line_item.quantity" @keyup="updateLineItem(line_item)">
                            <input @click="addSelectedField" :id="'price'+index" type="text" v-model="line_item.price" @keyup="updateLineItem(line_item)">
                            <input @click="addSelectedField" :id="'total'+index" type="text" v-model="line_item.total" @keyup="updateLineItem(line_item)">
                            <i class="fa fa-minus" style="font-size: 20px;cursor:pointer;color:white;" @click="deleteRow(index,line_item)"></i>
                        </div>

                    </div>


                </div>
            </main>


            <footer class="_3eu0Y">
                <div class="nqKTX">
                    <button class="_2-e9i Cb_qF _5r5MB" style="padding:0px;padding-right: 15px" @click="approve(document)"><span class="_1mMMb UAi8Q"><svg viewBox="0 0 24 24"><path
                        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"
                        fill="currentColor" fill-rule="evenodd"></path></svg></span>Submit &nbsp;
                    </button>
                    <button class="unstyled-btn _2vE59" @click="deleteDocument(document)">
                        <svg viewBox="0 0 24 24">
                            <path
                                d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"
                                fill="currentColor" fill-rule="evenodd"></path>
                        </svg>
                    </button>

                </div>
                <div class="Y2nIC" style="float: right">


                </div>
            </footer>
        </aside>
    </div>

</template>


<script>
    export default {
        data() {
            return {
                headings:[
                    'Products','Product Code', 'Quantity','Price Per Unit','Total'
                ],
                styleObject: {}

                    // fontSize: '13px'

                // line_items: line_items,

            }
        },
        props: ['document'],
        // watch:{
        //     line_items()   {
        //         console.log(this.line_items)
        // }
        // },

        methods:{
             async addRow() {
              let response= await this.$store.dispatch('addLineItem',{document_id:this.document.id})
                 this.document.line_items.push(response.data)
             },
            deleteRow(index,line_item) {
                this.document.line_items.splice(index,1)
                this.$store.dispatch('deleteLineItem',{lineItem_id:line_item.id})
            },

            async approve(document){
                 await axios.put('document/'+document.id)
                this.$router.push({name:'Documents'})

            },
            deleteDocument(document){
                 this.$store.dispatch('deleteReceipt',document.id)
                this.$router.push({name:'Documents'})
            },
            updateBasicInfo(basic_info){
                 var target=event.target
                this.$store.commit('setSelected',target.value)
                 axios.put('basic-info/'+basic_info.id,basic_info)
            },
            updateLineItem(line_item) {
                var target=event.target
                this.$store.commit('setSelected',target.value)
                axios.put('line-item/'+line_item.id,line_item)

            },
            addSelectedField(){
                 let target=event.target
                this.$store.commit('setSelectedField',target.id)

            },


        },
        mounted() {

        }
    }


</script>


<style type="text/css">
    .hello input[type=text] {
        border-radius: 3px;
        margin-left: 8px;
        margin-right: 8px;
        margin-bottom: 8px;
        text-align: center;
        /*width: 130px;*/
        height: 30px;
        border-bottom: 1px solid #fff;
        /*border-radius: 20px;*/
        background-color: #fff;
        color: black;
        width: 135px;
        outline:none;
        /*padding: 12px 20px 12px 40px;*/
        /*-webkit-transition: width 0.2s ease-in-out;*/
        /*transition: width 0.2s ease-in-out;*/
    }
.pwuv5:focus{
    background-color: #365e86;
}




    @keyframes tawkMaxOpen {
        0% {
            opacity: 0;
            transform: translate(0, 30px);;
        }
        to {
            opacity: 1;
            transform: translate(0, 0px);
        }
    }

    @-moz-keyframes tawkMaxOpen {
        0% {
            opacity: 0;
            transform: translate(0, 30px);;
        }
        to {
            opacity: 1;
            transform: translate(0, 0px);
        }
    }

    @-webkit-keyframes tawkMaxOpen {
        0% {
            opacity: 0;
            transform: translate(0, 30px);;
        }
        to {
            opacity: 1;
            transform: translate(0, 0px);
        }
    }

    #Gu7wbcx-1565275461548 {
        outline: none !important;
        visibility: visible !important;
        resize: none !important;
        box-shadow: none !important;
        overflow: visible !important;
        background: none !important;
        opacity: 1 !important;
        filter: alpha(opacity=100) !important;
        -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity1) !important;
        -moz-opacity: 1 !important;
        -khtml-opacity: 1 !important;
        top: auto !important;
        right: 10px !important;
        bottom: 90px !important;
        left: auto !important;
        position: fixed !important;
        border: 0 !important;
        min-height: 0 !important;
        min-width: 0 !important;
        max-height: none !important;
        max-width: none !important;
        padding: 0 !important;
        margin: 0 !important;
        -moz-transition-property: none !important;
        -webkit-transition-property: none !important;
        -o-transition-property: none !important;
        transition-property: none !important;
        transform: none !important;
        -webkit-transform: none !important;
        -ms-transform: none !important;
        width: auto !important;
        height: auto !important;
        display: none !important;
        z-index: 2000000000 !important;
        background-color: transparent !important;
        cursor: auto !important;
        float: none !important;
        border-radius: unset !important;
    }

    #zT3WUk5-1565275461551.open {
        animation: tawkMaxOpen .25s ease !important;
    }</style>
